{% load i18n thumbnail koningskerk_tags %}
<article class="link-block link-height" data-linkid="{{ linkid }}">
    <header>
        <figure>
            <img src="{{ instance.image|thumbnail_url:'homepage' }}">
        </figure>
        <h2>{{ instance.title }}</h2>
    </header>

    <p class="description">
        {{ instance.description|safe }}
    </p>

    <footer>
        <ul class="list-inline">
            {% if instance.enable_sharing %}
            <li class="social facebook share">
                <a href="#" data-href="{% absolute_url instance.page_link.get_absolute_url %}">
                    <span class="fa fa-facebook"></span>
                </a>
            </li>
            <li class="social twitter share">
                <a href="#" data-href="{% absolute_url instance.page_link.get_absolute_url %}"><span class="fa fa-twitter"></span></a>
            </li>
            {% endif %}
            {% if instance.page_link_id %}
            <li>
                <a href="{{ instance.page_link.get_absolute_url }}" class="btn btn-default read-more">
                    {% trans "Read more" %}
                    <span class="glyphicon glyphicon-play"></span>
                </a>
            </li>
            {% endif %}
        </ul>
    </footer>
</article>
