{% load i18n static koningskerk_tags cms_tags users %}
<div class="home-wrapper" id="luisterkerk">
    <div>
        <a href="http://www.luisterkerk.nl/gkvlangerak/direct.php">
            <figure>
                {% static_placeholder 'preach_image' or %}
                    <img src="{% static "homepage/dominee.jpg" %}">
                {% endstatic_placeholder %}
            </figure>
        </a>
        <div>
            <h3>
                {% static_placeholder 'preach_title' or %}{% trans "Configure title" %}{% endstatic_placeholder %}
            </h3>
            <a href="http://www.luisterkerk.nl/gkvlangerak/direct.php">
                {% static_placeholder 'preach_subtitle' or %}{% trans "Watch the latest thoughts" %}{% endstatic_placeholder %}
                <i class="fa fa-youtube-play"></i>
            </a>
        </div>
    </div>
</div>

<section class="home-wrapper">
    <div class="calendar">
        <h3>{% trans "Koningskerk calendar" %}</h3>
        {% for item in upcoming_activities %}
            <article class="calendar-item clearfix">
                <span class="date pull-left">
                    <span class="day">{{ item.start_date|date:"d" }}</span>
                    <span class="month">{{ item.start_date|date:"F" }}</span>
                </span>

                <a class="description" href="{{ item.get_absolute_url }}">
                    {{ item.name }}
                    <span class="glyphicon glyphicon-play"></span>
                </a>
            </article>
        {% empty %}
            {% trans "No upcoming activities" %}
        {% endfor %}
    </div>
</section>

{% if user.is_authenticated %}
<section class="home-wrapper">
    <div class="birthdays">
        <h3>{% trans "Upcoming birthdays" %}</h3>
        {% show_birthdays weeks=3 %}
    </div>
</section>
{% endif %}

{% include "homepage/includes/pod.html" %}
