@use "../../lib/colors";
@use "../../lib/typography";
@use "../../lib/responsive";

.liturgy-detail {
  @include typography.body;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & &__preach {
    width: calc(60% - 0.5rem);
    padding: 1rem;
    border-left: solid 4px rgba(colors.$theme-green, 0.5);
    font-size: 1.1rem;
  }

  & &__meta {
    width: calc(40% - 0.5rem);
    padding: 1rem;
    border-left: solid 4px rgba(colors.$theme-green-yellow, 0.5);
    font-size: 1.1rem;
  }

  & &__body-header {
    @include typography.subtitle;
    color: colors.$theme-green;
    font-size: 1.6rem;
    width: 100%;
    border-bottom: solid 1px colors.$theme-green;
    margin: 1em 0 0;
    padding-bottom: 0.5rem;
  }

  & &__body {
    @include typography.body;
    font-size: 1.2rem;
    text-align: left;

    width: 100%;
    padding: 1rem;
    background: rgba(colors.$theme-purple, 0.025);
  }

  & &__download-link {
    @include typography.body;
    color: colors.$theme-green;
    text-decoration: none;
    font-weight: 200;

    &:hover {
      text-decoration: underline;
    }
  }

  & &__no-audio-link {
    @include typography.body;
    color: colors.$font-color-light;
    font-weight: 200;
    font-style: italic;
  }

  & &__link-list {
    padding: 0;
    padding-left: 1.5rem;
    margin: 0;
    list-style: circle;
  }

  @include responsive.mobile-only {
    display: block;

    & &__preach,
    & &__meta {
      border-left: none;
      width: 100%;
    }
  }
}
