@use "../../lib/responsive";
@use "../../lib/typography";


.liturgies-list {
  &__subtitle {
    @include typography.subtitle;
    margin-top: 0;
    text-align: right;
    font-weight: 200;
    font-size: 1.2rem;

    @include responsive.mobile-only {
      text-align: left;
      margin-top: -1rem;
    }
  }
}
