@use "../../lib/colors";
@use "../../lib/responsive";
@use "../../lib/typography";

.liturgy-preview {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;

  border: solid 1px rgba(#eee, 0.4);
  border-left: solid 4px rgba(colors.$theme-green, 0.5);
  padding: 1em;
  transition: all 0.2s ease;

  &:hover {
    border-left-color: colors.$theme-green;
    box-shadow: 2px 2px 4px 0 rgba(colors.$shadow-form-inputs, 0.25);
  }

  &#{&}--empty {
    @include typography.body;
    font-size: 1.2rem;
    color: colors.$font-color-light;
    font-style: italic;
  }

  & + & {
    margin-top: 1em;
  }

  & &__intro {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.5rem;
  }

  & &__date {
    @include typography.subtitle;
    font-size: 1.6rem;
    color: colors.$theme-green;

    margin: 0;
    border-bottom: solid 1px colors.$theme-green;
  }

  & &__time {
    @include typography.subtitle;
    font-size: 1.2rem;
    font-weight: 200;
    color: colors.$font-color;
    margin-left: 1em;
  }

  & &__preacher {
    @include typography.body;
    font-size: 1.6rem;
    text-align: right;
  }

  & &__body {
    @include typography.body;
    font-size: 1.2rem;
    line-height: 1.6rem;
    width: calc(100% - 200px - 1em);
    padding: 1rem 0;

    > * {
      margin: 0;
    }
  }

  & &__locations {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 200px;
    padding: 1rem 0;
  }

  & &__church {
    @include typography.body;
    display: block;
    background: colors.$theme-purple;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
  }

  & &__goto {
    @include typography.body;
    color: colors.$font-color-light;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: right;
    font-weight: 400;

    display: block;
    width: 100%;

    &:hover {
      color: colors.$theme-green;
      text-decoration: underline;
    }
  }
}

@include responsive.mobile-only {
  .liturgy-preview {
    display: block;
    border: none;
    border-bottom: solid 4px rgba(#eee, 0.5);
    padding: 1em 0.5em;

    & &__intro {
      display: block;
    }

    & &__date {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }

    & &__time {
      display: block;
      margin-left: 0;
    }

    & &__preacher {
      font-size: 1.3rem;
    }

    & &__body {
      width: 100%;
    }

    & &__content {
      > p {
        margin-top: 0;
      }
    }

    & &__locations {
      width: 100%;
      justify-content: flex-start;
    }
  }
}
