# Developers
.hg
.git
.hgignore
.hg_archival.txt
.svn
.idea/
.sass-cache/
*.db
*.sqlite
*.pyc
*~

# Environment
local.py
/env/
/media/
/static/
/log
.env
.vault_password.txt

*.sqlite

# Sublime
/langerak.sublime-workspace
/langerak.sublime-project

# dependencies
src/langerak_gkv/static/vendor/
node_modules

# testing
.coverage
/htmlcov
/reports
