{% load i18n thumbnail %}
<div class="row">
    <section class="col-md-9 birthdays-list">
        {% for profile in profiles %}

            {% ifchanged profile.birthdate.month %}
                <div class="row"><div class="col-xs-12">
                <h3 class="birthdays-list__month" id="month{{ profile.birthdate|date:"j" }}">
                    {{ profile.birthdate|date:"F"|capfirst }}
                </h3>
                </div></div>
            {% endifchanged %}

            <div class="birtdays-list__profile birthday row">
                <div class="col-xs-4 col-sm-6 col-md-4">
                    {% ifchanged profile.birthdate|date:"d M" %}
                        <span class="birthday__date">{{ profile.birthdate|date:"d b" }}</span>
                    {% endifchanged %}
                </div>

                <div class="col-xs-8 col-sm-6 col-md-4">
                    <a href="{{ profile.get_absolute_url }}" class="birthday__name">
                        {{ profile.get_full_name }}
                    </a>
                </div>

                <div class="hidden-xs hidden-sm col-md-4">
                    <span class="birthday__profile-picture">
                        {% if profile.picture %}
                            <img src="{{ profile.picture|thumbnail_url:'small' }}">
                        {% else %}
                            <i class="fa fa-user fa-3x"></i>
                        {% endif %}
                    </span>
                </div>
            </div>
        {% endfor %}
    </section>

    <div class="col-md-3 hidden-xs hidden-sm months-list">
        <h3 class="months-list__title">{% trans "Months" %}</h3>
        {% for month in months %}
            <a href="#month{{ forloop.counter }}" class="months-list__link">{{ month }}</a>
        {% endfor %}
    </div>
</div>
