{% extends "master.html" %}
{% load cms_tags i18n %}

{% block extra_title %} &bull; {% page_attribute "page_title" %}{% endblock %}

{% block body-class %} cms-page {% endblock %}

{% block content %}

<h1 class="page-title">{% page_attribute "page_title" %}</h1>

{% placeholder page_content or %}
    {% trans "Put your content here" %}
{% endplaceholder %}

<aside class="page-stats">
    {% page_attribute "changed_date" as last_changed %}

    {% blocktrans with changed=last_changed|date:"Y-m-d H:i" changed_since=last_changed|timesince trimmed%}
    Last changed: <time datetime="{{ changed }}" title="{{ changed }}">{{ changed_since }}</time> ago
    {% endblocktrans %}
</aside>


{% endblock %}
