@import '../lib/responsive';

.cms-page {

  &#{&}--stripes-bottom .page-content {

    padding-bottom: 0;

    &::after {
      content: "";
      display: block;
      height: $strepen-skew-height;
      opacity: 0.90;

      margin-left: -$page-content-side-padding;
      margin-right: -$page-content-side-padding;
      position: relative;
      margin-top: -$strepen-skew-height / 2;

      background-image: url('../img/strepen.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      clip-path: polygon(0% 0%, 100% 100%, 0% $strepen-skew-height);

      @include mobile-only {
        margin-left: -15px;
        margin-right: -15px;
        height: 80px;
        margin-top: 0;
        clip-path: polygon(0% 0%, 100% 100%, 0% 80px);
      }
    }
  }

}
