$page-content-width: $body-content-width !default;

body.cms-page.home {

  .page-content {
    background-image: url('../img/strepen.png');
    background-size: $page-content-width auto;
    background-repeat: repeat-y;
  }

}
