@import "../lib/responsive";

.liturgies-page .page-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;

  .page-title {
    width: 100%;
  }

  .liturgies-page__list,
  .liturgies-page__detail {
    width: 75%;

    @include mobile-only {
      width: 100%;
    }
  }

  .pagination {
    width: 100%;
  }

  .liturgies-page__sidebar {
    width: 20%;
  }
}
