@import "../lib/responsive";

.profile-page .page-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .profile-page__profile {
    width: 70%;
  }

  .profile-page__search {
    @include body;
    @include hide-on-mobile;
    width: 25%;

    .field {
      font-size: 1.4rem;
    }
  }
}
