{% load i18n static menu_tags cms_tags langerak %}
<header class="container hidden-xs">
    <figure id="header-image">
        {% placeholder header_image or %}
            <img src="{% static "img/header_img1.png" %}">
        {% endplaceholder %}
    </figure>

    <div id="header-overlay" class="visible-lg-block">
        <div id="header-overlay-left"></div>
        <div id="header-overlay-right">
            <span id="bid-ontvangt"></span>
        </div>
    </div>

    <a href="{% url 'home' %}" id="logo">Koningskerk</a>

    <form id="search" action="#TODO" class="dark form-inline">
        <input name="q" placeholder="{% trans "Search" %}" class="form-control">
        <button type="submit" class="btn-search"><i class="fa fa-search"></i></button>
    </form>
</header>


<!-- navbar -->
<div class="navbar" id="main-nav" role="navigation">
    <div class="container narrow">

        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#lang-main-menu">
                <span class="sr-only">{% trans "Menu" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" href="{% url 'home' %}">
                <img src="{% static 'logo/logo-no-text.png' %}" alt="{% trans "logo" %}">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="lang-main-menu">
            <ul class="nav navbar-nav navbar-left">
                <li class="{% if request.path|active_exact:'home' %}active{% endif %}"><a href="{% url 'home' %}">{% trans "News" %}</a></li>
                {% show_menu 1 0 0 1 %}
                {% if user.is_authenticated %}

                    <li class="{% if request.path|active:'users:list' %}active{% endif %}"><a href="{% url 'users:list' %}">{% trans "Members" %}</a></li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li> <a href="{% url 'users:login' %}">
                        <i class="fa fa-user"></i> {% trans "Login" %}</a>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i> {{ user.first_name }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'users:profile' pk=user.pk %}"><i class="fa fa-user"></i> {% trans "View own profile" %} </a>
                            </li>
                            {% if user.is_staff %}
                                <li> <a href="{% url 'admin:index' %}">
                                        <i class="fa fa-tachometer"></i> {% trans "Administration" %}</a>
                                </li>
                            {% endif %}
                            <li>
                                <form action="{% url 'users:logout' %}" method="post">{% csrf_token %}
                                    <input type="hidden" name="next" value="{% url 'home' %}">
                                    <button type="submit" class="btn-link" id="btn-logout">
                                        <span class="glyphicon glyphicon-off"></span>
                                        {% trans "Logout" %}
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
