{% extends "master.html" %}{% load i18n static %}

{% block body-class %}home{% endblock body-class %}

{% block content %}
<div class="row">

    <div class="col-md-8">

        <section class="activities">
            <div class="row">
                <div class="col-md-6">
                    <article class="activity">
                        <header>
                            <figure>
                                <img src="/media/1.png">
                            </figure>
                            <h2>{% trans "Activity 1" %}</h2>
                        </header>

                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>

                        <footer>
                            <ul class="list-inline">
                                <li class="social facebook">
                                    <a href="#"><span class="fa fa-facebook"></span></a>
                                </li>
                                <li class="social twitter">
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-default read-more">
                                        {% trans "Read more" %}
                                        <span class="glyphicon glyphicon-play"></span>
                                    </a>
                                </li>
                            </ul>
                        </footer>
                    </article>
                </div>

                {# Dummy, remove later TODO #}
                <div class="col-md-6">
                    <article class="activity">
                        <header>
                            <figure>
                                <img src="/media/1.png">
                            </figure>
                            <h2>{% trans "Activity 1" %}</h2>
                        </header>

                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>

                        <footer>
                            <ul class="list-inline">
                                <li class="social facebook">
                                    <a href="#"><span class="fa fa-facebook"></span></a>
                                </li>
                                <li class="social twitter">
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-default read-more">
                                        {% trans "Read more" %}
                                        <span class="glyphicon glyphicon-play"></span>
                                    </a>
                                </li>
                            </ul>
                        </footer>
                    </article>
                </div>
            </div>

            {# Dummy, remove later TODO #}
            <div class="row">
                <div class="col-md-6">
                    <article class="activity">
                        <header>
                            <figure>
                                <img src="/media/1.png">
                            </figure>
                            <h1>{% trans "Activity 1" %}</h1>
                        </header>

                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>

                        <footer>
                            <ul class="list-inline">
                                <li class="social facebook">
                                    <a href="#"><span class="fa fa-facebook"></span></a>
                                </li>
                                <li class="social twitter">
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-default read-more">
                                        {% trans "Read more" %}
                                        <span class="glyphicon glyphicon-play"></span>
                                    </a>
                                </li>
                            </ul>
                        </footer>
                    </article>
                </div>

                <div class="col-md-6">
                    <article class="activity">
                        <header>
                            <figure>
                                <img src="/media/1.png">
                            </figure>
                            <h2>{% trans "Activity 1" %}</h2>
                        </header>

                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>

                        <footer>
                            <ul class="list-inline">
                                <li class="social facebook">
                                    <a href="#"><span class="fa fa-facebook"></span></a>
                                </li>
                                <li class="social twitter">
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-default read-more">
                                        {% trans "Read more" %}
                                        <span class="glyphicon glyphicon-play"></span>
                                    </a>
                                </li>
                            </ul>
                        </footer>
                    </article>
                </div>
            </div>
        </section>

        <section class="news">
            <article class="news-item">
                <header>
                    <h2>{% trans "Koningskerk Langerak" %}</h2>
                    <p>Hartelijk welkom ...</p>
                </header>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

                <footer>
                    <div class="social"></div>
                    <div class="links">
                        <a href="#" class="btn">Kerkdiensten</a>
                        <a href="#" class="btn">Kalender</a>
                        <a href="#" class="btn">...</a>
                        <a href="#" class="btn read-more">{% trans "Read more" %}</a>
                    </div>
                </footer>
            </article>
        </section>
    </div>



    <aside class="col-md-4">

        <div id="luisterkerk">
            <figure></figure>
            <h2>ds H.J. Lopers preekt</h2>
            Bekijk de laatste overdenking <span class="glyphicon glyphicon-play"></span>
        </div>

        <section class="home-wrapper">
            <div class="calendar">
                <h3>Kalender Koningskerk</h3>
                {% for i in '01234' %}
                    <article class="calendar-item clearfix">
                        <span class="date pull-left">
                            <span class="day">27</span>
                            <span class="month">april</span>
                        </span>

                        <span class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                            <span class="glyphicon glyphicon-play"></span>
                        </span>
                    </article>
                {% endfor %}
            </div>
        </section>

        <section class="home-wrapper" id="pod">
            <div>
                <h3>{% trans "Prayer on demand" %}</h3>
                <form action="." method="post">{% csrf_token %}
                    {{ form.as_p }}
                </form>
            </div>
        </section>

    </aside>


</div>
{% endblock %}
