{% load static i18n sekizai_tags cms_tags menu_tags %}<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}NGKL{% block extra_title %}{% endblock %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Website Gereformeerde Kerk Langerak">
        <meta name="author" content="">

        {# Load font(s) #}
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200i,300,400,600i&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {# Load stylesheets #}
        <link href="{% static 'normalize.css/normalize.css' %}" media="screen, projection" rel="stylesheet" `/>
        <link href="{% static 'bundles/main.css' %}" media="screen, projection" rel="stylesheet" `/>
        {% block extra_css %}{% endblock %}

        {% render_block "css" %} {# sekizai/django-cms #}

        {# <link rel="shortcut icon" href="{% static 'logo/favicon.png' %}"> #}
        {% block extrahead %}{% endblock extrahead %}
        {% include "includes/analytics.html" %}
    </head>

    <body class="{% block body-class %}{% endblock %}">

        {% cms_toolbar %}

        {% include "includes/header.html" %}

        {% block messages %}
            {% include "includes/messages.html" %}
        {% endblock %}

        <main class="page-content">
            <span class="page-content__border"></span>
            {% block content %}Override block `content`{% endblock %}
            {% block stripes-bottom %}{% endblock %}
        </main>

        {% include "includes/footer.html" %}

        <script src="{% static 'bundles/main.js' %}"></script>
        {% block extra_js %}{% endblock %}
        {% render_block "js" %} {# sekizai/django-cms #}
    </body>
</html>
