{% load compress staticfiles i18n sekizai_tags cms_tags menu_tags leaflet_tags %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Langerak GKV{% block extra_title %}{% endblock %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="{% static 'langerak_gkv/lib/bootstrap-3.1.0/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'langerak_gkv/lib/bootstrap-3.1.0/css/bootstrap-theme.min.css' %}" rel="stylesheet">
        <link href="{% static 'langerak_gkv/lib/fa/font-awesome-4.2.0/css/font-awesome.min.css' %}" rel="stylesheet">
        {% compress css %}
            <link href="{% static 'langerak_gkv/css/screen.css' %}" media="screen, projection" rel="stylesheet" type="text/css" />
            <link href="{% static 'langerak_gkv/css/print.css' %}" media="print" rel="stylesheet" type="text/css" />
            {% leaflet_css %}
            {% block extra_css %}{% endblock %}
        {% endcompress %}

        {% render_block "css" %} {# sekizai/django-cms #}

        <!--[if IE]>
            <link href="{% static 'langerak_gkv/css/ie.css' %}" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="{% static 'langerak_gkv/lib/jquery/js/jquery-1.9.1.min.js' %}"></script>

        <link rel="shortcut icon" href="{% static 'logo/favicon.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'langerak_gkv/ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'langerak_gkv/ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'langerak_gkv/ico/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'langerak_gkv/ico/apple-touch-icon-57-precomposed.png' %}">
    </head>

    <body class="{% block body-class %}{% endblock %}">
        {% cms_toolbar %}
        {% block header %}{% include "header.html" %}{% endblock %}

        <section class="container narrow" id="content">
            {% block messages %}{% include "includes/messages.html" %}{% endblock %}
            {% block content %}Override block `content`{% endblock %}
        </section>

        {% block footer %}
            <footer class="container narrow">
                <div class="narrow" id="newsletter">
                    <div class="row">
                        <h2 class="col-xs-12 col-md-6">{% trans "Signup for the newsletter" %}</h2>
                        <div class="col-xs-12 col-md-6"><input class="form-control" placeholder="{% trans "Enter your e-mail address here" %}"></div>
                    </div>
                </div>

                <div class="row" id="main-footer">
                    <div class="col-xs-6 col-lg-3">
                        <ul>
                            <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                            {% show_menu 1 100 100 100 'menu/footer_menu_left.html' %}
                        </ul>
                    </div>
                    <div class="col-xs-6 col-lg-3">
                        <ul>
                            {% show_menu 1 100 100 100 'menu/footer_menu_right.html' %}
                        </ul>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <div class="row">
                            <div class="col-sm-6">
                                {% leaflet_map "footer-map" %}
                            </div>

                            <div class="col-sm-6">
                                <p>{% static_placeholder 'footer_logo' %}</p>
                                <p>
                                    <address>
                                        {% static_placeholder 'footer_address' %}
                                    </address>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="copyright" class="narrow">&copy; Copyright Koningskerk 2014</div>
            </footer>
        {% endblock %}

        <script src="{% static 'langerak_gkv/lib/bootstrap-3.1.0/js/bootstrap.min.js' %}"></script>

        {% compress js %}
            {% leaflet_js %}
            <script src="{% static 'langerak_gkv/js/global.js' %}"></script>
        {% endcompress %}

        {% block extra_js %}{% endblock %}
        {% render_block "js" %} {# sekizai/django-cms #}
    </body>
</html>
