{% load compress staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Langerak GKV{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="{% static 'langerak_gkv/lib/bootstrap-3.1.0/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'langerak_gkv/lib/bootstrap-3.1.0/css/bootstrap-theme.min.css' %}" rel="stylesheet">
        <link href="{% static 'langerak_gkv/lib/fa/font-awesome-4.2.0/css/font-awesome.min.css' %}" rel="stylesheet">
        {% compress css %}
            <link href="{% static 'langerak_gkv/css/screen.css' %}" media="screen, projection" rel="stylesheet" type="text/css" />
            <link href="{% static 'langerak_gkv/css/print.css' %}" media="print" rel="stylesheet" type="text/css" />

            {% block extra_css %}{% endblock %}
        {% endcompress %}
        <!--[if IE]>
            <link href="{% static 'langerak_gkv/css/ie.css' %}" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="{% static 'langerak_gkv/lib/jquery/js/jquery-1.9.1.min.js' %}"></script>

        <link rel="shortcut icon" href="{% static 'langerak_gkv/ico/favicon.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'langerak_gkv/ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'langerak_gkv/ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'langerak_gkv/ico/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'langerak_gkv/ico/apple-touch-icon-57-precomposed.png' %}">
    </head>
    <body class="{% block body-class %}{% endblock %}">

        {% block header %}{% include "header.html" %}{% endblock %}

        <section class="container" id="content">
            {% block content %}Override block `content`{% endblock %}
        </section>

        {% block footer %}
            <footer class="container">
                <div class="row border">
                    <div class="col-xs-12 col-md-6">{% trans "Signup for the newsletter" %}</div>
                    <div class="col-xs-12 col-md-6"><input class="form-control" placeholder="{% trans "Enter your e-mail address here" %}"></div>
                </div>

                <div class="row border">
                    <div class="col-xs-6 col-lg-3">{% trans "Footer links" %}</div>
                    <div class="col-xs-6 col-lg-3">{% trans "Footer links" %}</div>
                    <div class="col-xs-12 col-lg-6">{% trans "Map + contact" %}
                </div>
            </footer>
        {% endblock %}

        <script src="{% static 'langerak_gkv/lib/bootstrap-3.1.0/js/bootstrap.min.js' %}"></script>

        {% compress js %}
            <script src="{% static 'langerak_gkv/js/global.js' %}"></script>
        {% endcompress %}

        {% block extra_js %}{% endblock %}
    </body>
</html>
