---
# Make sure the virtualenv is created and requirements are installed

- name: Upgrade pip
  pip:
    virtualenv: "{{ venv }}"
    name: pip
    state: latest
    virtualenv_python: python2

- name: Set up virtualenvwrapper post-activate hook
  template:
    src: postactivate.j2
    dest: "{{ venv }}/bin/postactivate"

- name: Install requirements
  pip:
    virtualenv: "{{ venv }}"
    chdir: "{{ project_home }}"
    requirements: "requirements/{{ env }}.txt"
    virtualenv_python: python2
  notify:
    - restart uwsgi
