{% load cms_tags %}
<footer class="page-footer">

    <div class="page-footer__column">
        <article class="cmsplugin-text">
            <p>
                <a href="/over-ons/gereformeerde-kerk-langerak/">Nederlandse Gereformeerde Kerk Langerak</a>
            </p>
            <p>locatie <a href="/over-ons/onze-gebouwen/">Bethelkerk</a></p>
            <p>Lekdijk 82a, 2968 GA Waal</p>
            <p>voor alle <a href="/kerkdiensten/hoewaar-kerkdiensten/">kerkdiensten/vieringen</a></p>
        </article>
    </div>

    <div class="page-footer__column">
        <article class="cmsplugin-text">
            <p>&nbsp;</p>
            <p>locatie <a href="/over-ons/onze-gebouwen/">Koningskerk</a></p>
            <p>Julianastraat 88, 2967 EG Langerak</p>
            <p>voor activiteiten, zoals <a href="/welkom/op-adem-komen-de-kerk-open/">'Hemelsbreed'</a></p>
        </article>
    </div>

    <div class="page-footer__column">
        <article class="cmsplugin-text">
            <p>&nbsp;</p>
            <p><a href="/contact/" target="_blank">contact</a></p>
            <p><a href="/over-ons/anbi-status/" target="_blank">ANBI-status</a></p>
            <p><a href="/over-ons/privacyverklaring/" target="_blank">privacyverklaring</a></p>
        </article>
    </div>

</footer>
