{% load cms_tags menu_tags i18n %}

<header class="page-header">

    <nav class="menu">
        <a href="{{ home_url }}" class="menu__item">{{ home_title }}</a>
        {% show_menu 1 %}
    </nav>

    <section class="header-content">

        <div class="header-content__background">
            {% placeholder "header image" inherit %}
            <div class="header-content__background-image"></div>
        </div>

        <div class="header-content__foreground">

            <aside class="header-content__actions">

                <form action="{% url 'search:search' %}" class="search-form" method="get" autocomplete="off">
                    <input
                        name="q"
                        class="search-form__search"
                        placeholder="{% trans 'search field' %}"
                        {% if request.GET.q %}value="{{ request.GET.q }}"{% endif %}>
                </form>

                <nav class="user-actions">
                    {% if user.is_authenticated %}
                        <a class="user-actions__action" href="{% url 'users:profile' pk=user.pk %}">
                            {% trans "my profile" %}
                        </a>
                        <a class="user-actions__action logout-url" href="#">
                            {% trans "log out (username)" %}
                        </a>
                    {% else %}
                        <a class="user-actions__action modal-trigger" href="#" data-modal="login">
                            {% trans "Login" %}
                        </a>
                    {% endif %}

                    <form action="{% url 'users:logout' %}" method="post" style="display: none;" class="logout-form">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="/">
                    </form>
                </nav>

            </aside>

            <aside class="calendar">
                {% for item in upcoming_activities %}
                    {% include "includes/calendar-item.html" with item=item only %}
                {% endfor %}
            </aside>

            <div class="header-content__end">

                <div class="social-icon-list">
                    <span class="social-icon social-icon--lightblue">+</span>
                    <span class="social-icon social-icon--darkblue">+</span>
                    <span class="social-icon social-icon--red">+</span>
                    <span class="social-icon social-icon--lightblue">+</span>
                </div>

                {% include "includes/breadcrumbs.html" %}
            </div>
        </div>

    </section>

</header>
