{% load cms_tags menu_tags i18n sniplates %}

<header class="page-header">

    <nav class="menu">

        <div class="menu__icons">
            <span class="menu__search"></span>
            <span class="menu__profile"></span>
            <span class="menu__hamberder">
                <span class="menu__hamberder-row"></span>
                <span class="menu__hamberder-row"></span>
                <span class="menu__hamberder-row"></span>
            </span>
        </div>

        <div class="menu__layer menu__layer--root">
            <div class="menu__item menu__item--leaf">
                <a href="{{ home_url }}" class="menu__item-link">{{ home_title }}</a>
            </div>
            {% show_menu 1 100 2 %}
        </div>
        {% if not request.path == home_url %}
            <div class="menu__layer menu__layer--sub">
                {% show_sub_menu 1 %}
            </div>
        {% endif %}
    </nav>

    <section class="header-content">

        <div class="header-content__background">
            {% placeholder "header image" inherit %}
            <div class="header-content__background-image"></div>
        </div>

        <div class="header-content__foreground">

            <aside class="header-content__actions">

                <form action="{% url 'search:search' %}" class="search-form" method="get" autocomplete="off">
                    <input
                        name="q"
                        class="search-form__search"
                        placeholder="{% trans 'search field' %}"
                        {% if request.GET.q %}value="{{ request.GET.q }}"{% endif %}>
                </form>

            </aside>

            <aside class="calendar">
                {% for item in upcoming_activities %}
                    {% include "includes/calendar-item.html" with item=item only %}
                {% endfor %}

                <a href="{% url 'activities:calendar' %}" class="calendar__goto">
                    {% trans "To calendar" %}
                </a>
            </aside>

            <div class="header-content__end">

                {% load_widgets skew='includes/skew-overlay.html' %}
                {% widget 'skew:skew-overlay--bottom' %}

                <div class="header-content__end-content">
                    <div class="social-icon-list">
                        <a href="https://www.facebook.com/gklangerak" class="social-icon social-icon--facebook" target="_blank" rel="nofollow noopener">Facebook</a>
                        {% comment %}
                        <span class="social-icon social-icon--darkblue">+</span>
                        <span class="social-icon social-icon--red">+</span>
                        <span class="social-icon social-icon--lightblue">+</span>
                        {% endcomment %}
                    </div>

                    {% include "includes/breadcrumbs.html" %}
                </div>
            </div>
        </div>

    </section>

</header>
