{% extends "admin/change_form.html" %}{% load i18n %}


{% block extrastyle %}
{{ block.super }}
<style>
#id_subject {width: 300px;}
</style>
{% endblock %}


{% block content %}
<div id="content-main">

    <h1>{% trans "Send liturgy mailing" %}</h1>


    <form action="." method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <h2>{% trans "Mail content" %}</h2>
            {% for field in form.visible_fields %}
                <div class="form-row{% if field.errors %} errors{% endif %}">
                    <div class="{% if not field.is_readonly and field.errors %} errors{% endif %}">
                        {% if not field.is_readonly %}{{ field.errors }}{% endif %}
                        {% if field.field.required %}<strong>{% endif %}
                        {{ field.label_tag }}
                        {% if field.field.required %}</strong>{% endif %}
                        {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        </fieldset>

        <div class="submit-row">
            <input type="submit" value="{% trans "Send" %}" class="default" name="_save">
        </div>
    </form>

</div>
{% endblock %}
