{% if login_form %}
{% load i18n sniplates %}
{% load_widgets modals='includes/modals.html' %}
{% load_widgets form='includes/forms/default.html' %}

{% nested_widget 'modals:modal' modal_type='login' modal_active=True %}

    <h1 class="modal__title">{% trans "Login" %}</h1>

    <form action="{% url 'users:login' %}" method="post" class="form" autocomplete="off">
        {% csrf_token %}

        {% form_field login_form.username %}
        {% form_field login_form.password %}

        <div class="form__submit-row">
            <a href="{% url 'password_reset_recover' %}">{% trans 'Forgot password?' %}</a>
            {% widget 'form:submit' text=_("Login") %}
        </div>

    </form>

{% endnested %}
{% endif %}
