{% extends "cms/base.html" %}
{% load i18n cms_tags thumbnail %}

{% block body-class %}{{ block.super }} activities-page{% endblock body-class %}

{% block content %}

<h1 class="page-title">
    {{ activity.name }}
    <span class="page-title__subtitle">
        {{ activity.type.name }}

        &mdash;

        <time datetime="{{ activity.start.isoformat }}">
        {% filter capfirst %}
            {{ activity.start_date|date:"l j F" }}
            {% if activity.start_time %}
                {% trans "at" %} {{ activity.start_time|time:"H:i" }}
            {% endif %}
            {% if activity.end_time %}
                {% trans "until" %} {{ activity.end_time|time:"H:i" }}
            {% endif %}
        {% endfilter %}
        </time>
    </span>
</h1>

{% spaceless %}
<section class="activities-page__info">

    {% if activity.location %}
    <div class="activity-info">
        <span class="activity-info__label">
            {% trans "Location" %}
            <span class="activity-info__icon material-icons">location_on</span>
        </span>
        <span class="activity-info__value">{{ activity.location }}</span>
    </div>
    {% endif %}

    {% if activity.url %}
    <div class="activity-info">
        <span class="activity-info__label">
            {% trans "More info" %}
            <span class="activity-info__icon material-icons">link</span>
        </span>
        <span class="activity-info__value">
            {{ activity.url|urlize }}
        </span>
    </div>
    {% endif %}

    {% if activity.fb_event_id %}
    <div class="activity-info">
        <span class="activity-info__label">
            {% trans "Facebook event" %}
            <span class="activity-info__icon material-icons">facebook</span>
        </span>
        <span class="activity-info__value">
            <a href="https://facebook.com/events/{{ activity.fb_event_id }}/"
               target="_blank" rel="nofollow noopener">
                https://facebook.com/events/{{ activity.fb_event_id }}/
            </a>
        </span>
    </div>
    {% endif %}

</section>
{% endspaceless %}

{% if activity.image %}
<figure class="activities-page__image">
    <img src="{{ activity.image|thumbnail_url:'activity_detail' }}">
</figure>
{% endif %}

<section class="activities-page__summary">
    {{ activity.description|linebreaksbr }}
</section>

{% render_placeholder activity.content %}

{% endblock %}
