{% extends "activities/base.html" %}{% load i18n cms_tags thumbnail %}


{% block body-class %}{{ block.super }} detail{% endblock body-class %}


{% block calendar-content %}
<div class="fc fc-ltr fc-unthemed link-height" data-linkid="1">
    <div class="fc-toolbar">
        <div class="fc-center">
            <h2>{{ activity.name }} <small>{{ activity.type.name }}</small></h2>
        </div>
    </div>

    <h3 class="fc-day-header sub">
        <strong>
        {% filter capfirst %}
            {{ activity.date|date:"l j F" }}
            {% if activity.start_time %}
                {% trans "at" %} {{ activity.start_time|time:"H.i" }}
            {% endif %}
            {% if activity.end_time %}
                {% trans "until" %} {{ activity.end_time|time:"H.i" }}
            {% endif %}
        {% endfilter %}
        </strong>
    </h3>

    <article id="activity-detail" class="page-block">

        <header>
            <div class="row gutter-small">
                {% if activity.image %}
                <figure class="col-md-6">
                    <img src="{{ activity.image|thumbnail_url:'activity_detail' }}">
                </figure>
                {% endif %}

                <div class="col-md-6">
                    {% if activity.fb_event_id %}
                    <span class="social facebook pull-right">
                        <a href="https://facebook.com/events/{{ activity.fb_event_id }}/">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </span>
                    {% endif %}

                    {% if activity.location %}
                        <h4>{% trans "Location" %}</h4>
                        <p>{{ activity.location }}</p>
                    {% endif %}

                    <h4>{% trans "Introduction" %}</h4>
                    {{ activity.description|linebreaksbr }}


                    {% if activity.url %}
                        <p>
                        {% blocktrans with url=activity.url %}Visit <a href="{{ url }}">{{ url }}</a>.{% endblocktrans %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </header>


        {% render_placeholder activity.content %}

    </article>
</div>
{% endblock %}
