{% extends "activities/base.html" %}{% load i18n sniplates %}


{% block extrahead %}
<script>django = window;</script>
{{ form.media }}
{% endblock extrahead %}


{% block body-class %}{{ block.super }} detail{% endblock body-class %}


{% block calendar-content %}

{% load_widgets form='default.form' %}
<form action="." method="post">
    {% csrf_token %}

    <fieldset>
        {% form_field form.name %}
        <div class="row">
            <div class="col-md-6">
                {% form_field form.start_date %}
                {% form_field form.end_date %}
                {% form_field form.location %}
            </div>
            <div class="col-md-6">
                {% form_field form.description %}
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div class="row">
            <div class="col-md-6">
                {% form_field form.start_time %}
                {% form_field form.end_time %}
            </div>
            <div class="col-md-6">
                {% form_field form.type %}
                {% form_field form.intended_public %}
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div class="row">
            <div class="col-md-6">{% form_field form.url %}</div>
            <div class="col-md-6">{% form_field form.fb_event_id %}</div>
        </div>
    </fieldset>

    <button type="submit" class="btn btn-action pull-right">{% trans "Save" %}</button>

</form>

{% endblock %}
