{% extends "master.html" %}{% load i18n static %}

{% block body-class %}{{ block.super }} calendar{% endblock %}


{% block content %}

<form class="page-block clearfix" id="calendar-search">
    <div class="form-group pull-right">
        <div class="input-group">
            <input type="text" placeholder="{% trans "Find in calendar" %}"
                name="q" class="form-control">
            <span class="input-group-addon"><i class="fa fa-search fa-flip-horizontal"></i></span>
        </div>
    </div>

</form>

<div class="row">
    <section class="col-md-10">
        <div class="page-block" id="calendar"></div>
    </section>

    <div class="col-md-2">
        <aside class="page-block">

            Today
            <br>
            3 activities
            <br>
            Foo
            <br>
            Bar
            <br>
            Baz
        </aside>
    </div>
</div>
{% endblock %}


{% block extra_css %}
    {{ block.super }}
    <link href="{% static 'vendor/fullcalendar/dist/fullcalendar.min.css' %}" rel="stylesheet">
{% endblock %}


{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'vendor/moment/min/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'vendor/fullcalendar/dist/fullcalendar.min.js' %}"></script>
    {% with 'vendor/fullcalendar/dist/lang/'|add:LANGUAGE_CODE|add:'.js' as lang_file %}
        <script src="{% static lang_file %}"></script>
    {% endwith %}
    <script>
        var calendarConf = {
            lang: '{{ LANGUAGE_CODE }}',
            feedURL: '{% url "api:activities:list" %}'
        };
    </script>
    <script src="{% static 'activities/activities.js' %}"></script>
{% endblock %}
