{% extends "cms/base.html" %}
{% load i18n %}

{% block body-class %}{{ block.super }} liturgies-page{% endblock body-class %}

{% block content %}
<h1 class="page-title">
    {% blocktrans with day=liturgy.date|date:"l j F Y" time=liturgy.service.time|time:"H.i" trimmed asvar title %}
        {{ day }} at {{ time }} hours
    {% endblocktrans %}
    {{ title|capfirst }}
</h1>

<article class="liturgy-detail liturgies-page__detail">

    <section class="liturgy-detail__preach">
        <p>{% trans "Preacher" %}: {{ liturgy.preacher }}</p>
        <p>{% trans "Preach made by" %}: {{ liturgy.preach_author }}</p>
    </section>

    <section class="liturgy-detail__collections">
        {% for collection in liturgy.get_collections %}
            <p>
                {% blocktrans with i=forloop.counter %}Collection {{ i }}{% endblocktrans %}:
                {{ collection }}
            </p>
        {% endfor %}
    </section>

    <section class="liturgy-detail__meta">
        <p>
            {% trans "Main section" %}:
            {{ liturgy.main_section }}
            {{ liturgy.main_chapter }}{% if liturgy.main_verse %}:{{ liturgy.main_verse }}{% endif %}
        </p>
        <p>{% trans "Service theme" %}: {{ liturgy.service_theme }}</p>
    </section>

    <section class="liturgy-detail__body">
        {{ liturgy.liturgy|linebreaks }}
    </section>

    <section class="liturgy-detail__extras">
        {{ liturgy.extra_information|linebreaksbr }}
    </section>

    <section class="liturgy-detail__links">
        {% if liturgy.audiofile %}
            <a href="{{ liturgy.audiofile.url }}" class="liturgy-detail__audio-link">
                {% trans "This service is available as audio download" %}
                <i class="fa fa-file-audio-o"></i>
            </a>
        {% else %}
            {% trans "No audio file available" %}
        {% endif %}
    </section>

</article>

<aside class="activities-sidebar liturgies-page__sidebar">
    TODO
</aside>
{% endblock %}
