{% extends "cms/base.html" %}
{% load i18n %}

{% block body-class %}{{ block.super }} liturgies-page{% endblock body-class %}

{% block content %}
<h1 class="page-title">
    {% blocktrans with day=liturgy.date|date:"l j F Y" time=liturgy.service.time|time:"H.i" trimmed asvar title %}
        {{ day }} at {{ time }} hours
    {% endblocktrans %}
    {{ title|capfirst }}
</h1>

<article class="liturgy-detail liturgies-page__detail">

    <section class="liturgy-detail__preach">

        <div class="key-value">
            <span class="key-value__key">{% trans "Main section" %}</span>
            <span class="key-value__value">
                {{ liturgy.main_section }}
                {{ liturgy.main_chapter }}{% if liturgy.main_verse %}:{{ liturgy.main_verse }}{% endif %}
            </span>
        </div>

        <div class="key-value">
            <span class="key-value__key">{% trans "Service theme" %}</span>
            <span class="key-value__value">{{ liturgy.service_theme|default:"-" }}</span>
        </div>

        <div class="key-value">
            <span class="key-value__key">{% trans "Audio download" %}</span>
            <span class="key-value__value">
                {% if liturgy.audiofile %}
                    <a href="{{ liturgy.audiofile.url }}" class="liturgy-detail__audio-link">
                        {% trans "This service is available as audio download" %}
                    </a>
                {% else %}
                    <span class="liturgy-detail__no-audio-link">{% trans "No audio file available" %}</span>
                {% endif %}
            </span>
        </div>

    </section>

    <section class="liturgy-detail__meta">

        <div class="key-value key-value--swap-ratio">
            <span class="key-value__key">{% trans "Preacher" %}:</span>
            <span class="key-value__value">{{ liturgy.preacher|default:_("not yet known...") }}</span>
        </div>

        {% for collection in liturgy.get_collections %}
            <div class="key-value key-value--swap-ratio">
                <span class="key-value__key">
                    {% blocktrans with i=forloop.counter %}Collection {{ i }}{% endblocktrans %}:
                </span>
                <span class="key-value__value">{{ collection }}</span>
            </div>
        {% endfor %}

    </section>

    <h2 class="liturgy-detail__body-header">{% trans "Liturgy" %}</h2>
    <section class="liturgy-detail__body">
        {{ liturgy.liturgy|linebreaksbr|default:_("not yet know, please come back later!") }}
    </section>

    <section class="liturgy-detail__extras">
        {{ liturgy.extra_information|linebreaksbr }}
    </section>

</article>
{% endblock %}
