{% extends "cms/base.html" %}
{# originally extended from activities/base.html #}
{% load i18n %}

{% block body-class %}{{ block.super }} liturgies-page{% endblock body-class %}


{% block content %}
<h1 class="page-title">{% trans "Upcoming liturgies" %}</h1>

<section class="liturgies-list liturgies-page__list">
    <h2 class="liturgies-list__subtitle">
        {% blocktrans count counter=paginator.count trimmed %}
            One upcoming
        {% plural %}
            {{ counter }} upcoming
        {% endblocktrans %}
    </h2>

    {% include 'liturgies/includes/liturgy_list.html' %}

    {% include 'includes/pagination.html' %}
</section>

<aside class="activities-sidebar liturgies-page__sidebar">
    TODO
</aside>
{% endblock content %}
