{% extends "liturgies/base.html" %}{% load i18n %}

{% block body-class %}{{ block.super }} liturgies list{% endblock body-class %}

{% block calendar-content %}
<div class="fc fc-ltr fc-unthemed link-height activity-list" data-linkid="1">
    <div class="fc-toolbar">
        <div class="fc-center">
            <h2>{% trans "Liturgies archive" %}</h2>
        </div>
    </div>

    <div class="fc-day-header sub">
        {{ month|date:"F Y" }}
    </div>

    {% include 'liturgies/_liturgy_list.html' %}

</div>

{% include 'includes/pagination.html' %}
{% endblock %}
