{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% trans "Liturgies" %}</title>
    </head>

    <body>
        {% for liturgy in liturgies %}
            <div style="padding-top: 10px;padding-bottom:10px; border-bottom: solid 2px grey;">
                {% if not single %}
                    <h1>{% blocktrans with counter=forloop.counter %}Liturgy {{ counter }}{% endblocktrans %}</h1>
                {% endif %}

                <h3 style="margin-bottom: 0;">{% trans "Date" %}</h3>
                <p style="margin-top: 0;">{{ liturgy.date|date:"l j F" }}</p>

                <h3 style="margin-bottom: 0;">{% trans "Service" %}</h3>
                <p style="margin-top: 0;">{{ liturgy.service.name }}</p>

                <h3 style="margin-bottom: 0;">{% trans "Preacher" %}</h3>
                <p style="margin-top: 0;">{{ liturgy.preacher }}</p>

                <h3 style="margin-bottom: 0;">{% trans "Liturgy" %}</h3>
                <p style="margin-top: 0;">{{ liturgy.liturgy|default:_('(empty)')|linebreaksbr }}</p>

                <h3 style="margin-bottom: 0;">{% trans "Service theme" %}</h3>
                <p style="margin-top: 0;">{{ liturgy.service_theme|default:_('(empty)') }}</p>

                {% comment %}
                <h3 style="margin-bottom: 0;">{% trans "Collections" %}</h3>
                <p style="margin-top: 0;">{{ liturgy.get_collections|join:', '|default:_('(none)') }}</p>

                <h3 style="margin-bottom: 0;">{% trans "Main section" %}</h3>
                <p style="margin-top: 0;">{{ liturgy.main_section|default:_('(empty)') }}</p>
                {% endcomment %}

                <h3 style="margin-bottom: 0;">{% trans "Remarks" %}</h3>
                <p style="margin-top: 0;">{{ liturgy.internal_remarks|default:_('(empty)')|linebreaksbr }}</p>

                <h3 style="margin-bottom: 0;">{% trans "Organist" %}</h3>
                <p style="margin-top: 0;">{{ liturgy.organist|default:_('(empty)') }}</p>

                <h3 style="margin-bottom: 0;">{% trans "Beamist" %}</h3>
                <p style="margin-top: 0;">{{ liturgy.beamist|default:_('(empty)') }}</p>
            </div>
        {% endfor %}
    </body>
</html>
