{% if instance.file_src.url %}{% load i18n %}
<div class="file cms-content">
    <a href="{{ instance.file_src.url }}"
        {% if instance.link_target %} target="{{ instance.link_target }}"{% endif %}
        {% if instance.link_title %} title="{{ instance.link_title }}"{% endif %}
        {{ instance.attributes_str }}>
        {% if instance.file_name %}
            {{ instance.file_name }}
        {% else %}
            {{ instance.file_src.label }}
        {% endif %}
        {% if instance.show_file_size %}
            <span>{{ instance.file_src.size|filesizeformat }}</span>
        {% endif %}
    </a>
</div>
{% endif %}
