{% extends "homepage/home.html" %}
{% load i18n sniplates %}

{% block extra_title %} &bull; {% trans "Newsletter unsubscribe" %}{% endblock %}

{% block home-body %}
<article class="homepage-block">
    <h1>
        {% blocktrans with name=newsletter.title %}Unsubscribe from '{{ name }}'{% endblocktrans %}
    </h1>

    {% trans "Do you want to unsubscribe from this newsletter?" %}

    <form method="post" action="{% url "newsletter_unsubscribe_confirm" newsletter.slug %}" class="form-horizontal">
        {% csrf_token %}
        {% load_widgets form='users/profile.form' %}
        <div class="clearfix">
            {% widget 'form:btn-submit' btn_class='btn-action pull-right' btn_text=_('Unsubscribe') %}
        </div>
    </form>

</article>
{% endblock home-body %}
