{% extends "homepage/home.html" %}
{% load i18n %}

{% block extra_title %} &bull; {% trans "Newsletter unsubscribe" %}{% endblock %}

{% block home-body %}
<article class="homepage-block">
    <h1>
        {% blocktrans with name=newsletter.title %}Unsubscribe from '{{ name }}'{% endblocktrans %}
    </h1>

    <p>{% trans "Your unsubscription request has successfully been received. An email has been sent to you with a link you need to follow in order to confirm your unsubscription." %}</p>

</article>
{% endblock home-body %}
