@use "../../lib/colors";
@use "../../lib/typography";

.activities-calendar {
  &__ical {
    @include typography.body;
    display: block;
    padding: 1em 0;
    color: colors.$theme-green;
    text-align: right;
  }
}
