@use "../../lib/colors";
@use "../../lib/ellipsis";
@use "../../lib/typography";

// overrides of the full-calendar styling

.fc {
  @include typography.body;

  &-toolbar {
    background: colors.$theme-green-yellow;

    &.fc-header-toolbar {
      margin-bottom: 0.5em;
    }
  }

  &-toolbar h2 {
    @include typography.title;
    font-size: 1.5rem;
    color: colors.$font-color;
  }

  &-day-header {
    @include ellipsis.ellipsis;
    background: colors.$theme-green;
    color: white;
    font-weight: 200;
    padding: 0.5em 3px !important;
  }

  &-button {
    border-radius: unset;
  }

  &-button-primary {
    background-color: colors.$theme-green-yellow;
    border: none;
    transition: all 0.2s ease;

    &:hover {
      background-color: colors.$theme-purple;
    }

    &:focus {
      background-color: var(--theme-color--green-yellow-darker);
      box-shadow: none;
      color: colors.$font-color;
    }
  }

  &-today {
    background: rgba(colors.$theme-green-yellow, 0.5) !important;
  }

  &-day-top#{&}-today {
    background: none !important;
  }
}

.fc-dayGrid-view {
  .fc-day-number {
    padding: 0.5em;
    color: colors.$font-color;
  }
}

.fc-event {
  background: none;
  color: colors.$theme-green;
  border: none;

  display: flex;
  align-items: center;

  &:before {
    content: "\2022";
    margin: 0 4px;
  }

  &:hover {
    color: colors.$theme-green;
  }

  .fc-time {
    font-weight: 200;
    font-size: 1rem;
    margin-right: 0.3em;
  }

  .fc-title {
    font-weight: 600;
    font-size: 1rem;
  }
}
