@use "../../lib/colors";
@use "../../lib/responsive";
@use "../../lib/typography";

.activity-info {
  @include typography.body;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .2rem 0;

  @include responsive.mobile-only {
    display: block;
  }

  &__icon {
    width: 2rem;
  }

  &__label {
    font-weight: 600;
    width: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive.mobile-only {
      flex-flow: row-reverse;
      justify-content: flex-end;
    }
  }

  &__value{
    margin-left: 1rem;

    @include responsive.mobile-only {
      margin-left: 0;
    }
  }
}
