.birthday {
  $height: 75px;

  height: $height;
  text-align: center;

  .birthday__name {
    font-weight: 600;
    line-height: $height;
  }

  .birthday__date {
    line-height: $height;
  }

  .birthday__profile-picture {
    line-height: $height;

    > img {
      width: $height;
      height: $height;
    }
  }
}
