.months-list {
  .months-list__title {
    background-color: $main-color-blue;
    color: $white;
    text-align: center;
    padding: 5px;
    margin-top: 0;
  }

  .months-list__link {
    display: block;
    margin-left: 15px;
    padding: 5px 0;
  }
}
