@use "sass:math";

@import "../../lib/colors";
@import "../../lib/typography";

$profile-detail-pane-background: rgba($theme-green, 0.025);
$profile-detail-gutter: 1em;

.profile-detail {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;

  & &__header-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 1.5rem;
    background: $theme-green-yellow;
    margin-bottom: $profile-detail-gutter;

    color: $font-color;
  }

  & &__back-link {
    @include body;
    text-decoration: none;
    color: $font-color;

    &:hover {
      text-decoration: underline;
    }
  }

  & &__edit-link {
    @include body;
    display: block;
    flex-basis: 100%;
    text-align: right;
    margin-bottom: 1em;
    padding-right: 1rem;
    color: $font-color;
  }

  & &__title {
    @include subtitle;
    margin: 0;
    font-style: normal;
  }

  & &__pictures {
    width: calc(40% - #{math.div($profile-detail-gutter, 2)});
    background: $profile-detail-pane-background;
    padding: 1em;
  }

  & &__profile-pic {
    margin: 0;
    padding: 0;

    > img {
      width: 100%;
      object-fit: cover;
    }
  }

  & &__relation-title {
    @include subtitle;
    font-size: 1.5rem;
    margin: 0 0 1em;
    padding-bottom: 0.5em;
    border-bottom: solid 2px $theme-green-yellow;
  }

  & &__details {
    @include body;
    font-size: 1.2rem;

    width: calc(60% - #{math.div($profile-detail-gutter, 2)});
    background: $profile-detail-pane-background;
    padding: 1em;

    a {
      color: $theme-green;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & &__first-name {
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
    color: $theme-green;
  }

  & &__last-name {
    display: block;
    font-size: 1.5rem;
    color: $theme-green;
    margin-bottom: 2rem;
  }

  & &__email {
    &--disabled {
      pointer-events: none;
    }
  }

  & &__connections {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .profile-detail__relation-title {
      width: 100%;
    }

    > .profile-preview {
      width: calc(20% - 1em);
      margin: 0 0.5em 1em;
    }
  }
}
