@import "../../lib/colors";
@import "../../lib/typography";

$profile-preview-transparency: 0.5 !default;

@mixin profile-preview-btn() {
  display: block;
  background: var(--color-bg-button--profile-preview);
  padding: 0.5rem 1rem;

  transition: all 0.2s ease;

  &:hover {
    color: var(--color-fg-button--profile-preview-hover);
    background: var(--color-bg-button--profile-preview-hover);
    box-shadow: 2px 2px 5px 0 $shadow-form-inputs;
  }

  &:focus {
    outline: none;
    box-shadow: 2px 2px 5px 0 $shadow-form-inputs;
    background: var(--color-bg-button--profile-preview-focus);
    color: var(--color-fg-button--profile-preview-focus);
  }
}

.profile-preview {
  padding: 1em;
  color: var(--color-fg);

  &#{&}--flavour1 {
    background: var(--profile-preview-bg--flavour1);
  }

  &#{&}--flavour2 {
    background: var(--profile-preview-bg--flavour2);
  }

  &#{&}--flavour3 {
    background: var(--profile-preview-bg--flavour3);
  }

  &#{&}--flavour4 {
    background: var(--profile-preview-bg--flavour4);
  }

  &__picture {
    margin: 0;
    padding: 0;

    > img {
      width: 100%;
      object-fit: cover;
    }
  }

  & &__first-name {
    @include body;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    display: block;
  }

  & &__last-name {
    @include body;
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: block;
  }

  & &__phone {
    @include body;
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: block;
  }

  & &__links {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 1em;
  }

  & &__email {
    @include body;
    @include profile-preview-btn;

    color: darken(white, 10%);
    font-size: 1.2rem;
    text-decoration: none;

    &--disabled {
      pointer-events: none;
      opacity: 0.5;
      background: var(--color-bg--disabled);
    }
  }

  & &__goto {
    @include profile-preview-btn;
    font-size: 0;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  }
}
