@import '../../lib/typography';

$profile-list-preview-gutter: 2em;
$profile-list-preview-margin-side: $profile-list-preview-gutter / 2;
$profile-list-preview-width: 100% / 3;

.profile-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  & &__profiles {
    width: 65%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    > * {
      width: calc( #{$profile-list-preview-width} - #{$profile-list-preview-gutter} ) ;
      margin: 0 $profile-list-preview-margin-side $profile-list-preview-gutter;
    }

    .pagination {
      width: 100%;
    }
  }

  & &__search {
    @include body;
    width: 25%;

    .field {
      font-size: 1.1rem;
    }
  }
}
