/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
 @import 'compass';

 @import "partials/fonts";
 @import "partials/colors";
 @import "partials/utils";
 @import "partials/base";
 @import "partials/apps/profiles";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.row {
  margin-right: -5px;
  margin-left: -5px;

  &:after,
  &:before {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

#content {
  background-color: white;
  padding: 0 !important;
}

.profile-list {

  .col-sm-6 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    float: left;

    width: 50%;
    margin-bottom: 10px;
  }

  .relation {
    border: solid 1px $color-background;
    padding: 10px;

    figure {
      margin: 0;
    }
  }
}

.text-left {
  text-align: left;
}

a {
  text-decoration: none;
}
