from os.path import join, normpath, dirname, realpath

import raven

PROJECT_ROOT = dirname(dirname(dirname(realpath(__file__))))

ADMINS = (
{% for admin in django.admins %}    ('{{ admin.name }}', '{{ admin.email }}'),
{% endfor %})

#
# Secret key
#
SECRET_KEY = "{{ django.secret_key }}"

#
# Database settings
#
DATABASES = {
    'default': { # django postgres db
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': '{{ django_db.name }}',
        'USER': '{{ django_db.user }}',
        'PASSWORD': '{{ django_db.password }}',
    },
    'mysql': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': '{{ forum_db.name }}',
        'USER': '{{ forum_db.user }}',
        'PASSWORD': '{{ forum_db.password }}',
        'OPTIONS': {
            'init_command': "SET sql_mode='STRICT_TRANS_TABLES'",
        }
    },
    'kitreviews': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': '{{ kitreviews_db.name }}',
        'USER': '{{ kitreviews_db.user }}',
        'PASSWORD': '{{ kitreviews_db.password }}',
        'OPTIONS': {
            'init_command': "SET sql_mode='STRICT_TRANS_TABLES'",
        }
    },
}

#
# When running in DEBUG=False
#
INTERNAL_IPS = (
    '127.0.0.1',
    '{{ new_server_ip }}',
)

#
# Honeypot URL
#
HONEYPOT_URL = '{{ honeypot.url }}'
HTTPBL_ACCESS_KEY = '{{ honeypot.access_key }}'

#
# MIBBIT CHAT
#
MIBBIT_SETTINGS = '{{ mibbit_settings }}'

#
# PHPBB integration
#
PHPBB_URL = '/phpBB3'
PHPBB_TABLE_PREFIX = 'phpbb_'
PHPBB_UID_COOKIE = 'phpbb3_10uny8_u'

#
# EMAIL
#
DEFAULT_FROM_EMAIL = '{{ django.from_email }}'

#
# SENTRY
#
RAVEN_CONFIG = {
    'dsn': '{{ sentry.django }}',
    'release': raven.fetch_git_sha(dirname(PROJECT_ROOT)),
}
