{% extends "cms/base.html" %}{% load i18n static thumbnail koningskerk_tags cms_tags %}

{% block body-class %}{{ block.super }} home{% endblock body-class %}


{% block content %}
<div class="row">

    <div class="col-md-8">

        <section class="activities">
            <div class="row">

                <div class="col-md-6">
                    {% with linkid='1' %}
                        {% placeholder slot1 or %}
                            {% with activity=activities|pop %}
                                {% include "homepage/includes/activity.html" %}
                            {% endwith %}
                        {% endplaceholder %}
                    {% endwith %}
                </div>

                <div class="col-md-6">
                    {% with linkid='1' %}
                        {% placeholder slot2 or %}
                            {% with activity=activities|pop %}
                                {% include "homepage/includes/activity.html" %}
                            {% endwith %}
                        {% endplaceholder %}
                    {% endwith %}
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    {% with linkid='2' %}
                        {% placeholder slot3 or %}
                            {% with activity=activities|pop %}
                                {% include "homepage/includes/activity.html" %}
                            {% endwith %}
                        {% endplaceholder %}
                    {% endwith %}
                </div>

                <div class="col-md-6">
                    {% with linkid='2' %}
                        {% placeholder slot4 or %}
                            {% with activity=activities|pop %}
                                {% include "homepage/includes/activity.html" %}
                            {% endwith %}
                        {% endplaceholder %}
                    {% endwith %}
                </div>

            </div>
        </section>

        <section class="news">
            {% placeholder misc %}
        </section>
    </div>



    <aside class="col-md-4">

        <div class="home-wrapper" id="luisterkerk">
            <div>
                <a href="http://www.luisterkerk.nl/gkvlangerak/direct.php">
                    <figure>
                        <img src="{% static "homepage/predikant.png" %}">
                    </figure>
                </a>
                <div>
                    <h3>{% blocktrans %}{{ preacher }} preaches{% endblocktrans %}</h3>
                    <a href="http://www.luisterkerk.nl/gkvlangerak/direct.php">Watch the latest thoughts <span class="fa fa-youtube-play"></span></a>
                </div>
            </div>
        </div>

        <section class="home-wrapper">
            <div class="calendar">
                <h3>Kalender Koningskerk</h3>
                {% for item in upcoming_activities %}
                    <article class="calendar-item clearfix">
                        <span class="date pull-left">
                            <span class="day">{{ item.start_date|date:"D" }}</span>
                            <span class="month">{{ item.start_date|date:"j" }}</span>
                        </span>

                        <span class="description">
                            {{ item.name }}
                            <span class="glyphicon glyphicon-play"></span>
                        </span>
                    </article>
                {% endfor %}
            </div>
        </section>

        {% include "homepage/includes/pod.html" %}

    </aside>


</div>
{% endblock %}
