{% extends "cms/base.html" %}
{% load i18n thumbnail koningskerk_tags cms_tags sniplates %}

{% block body-class %}{{ block.super }} home{% endblock body-class %}

{% block content %}

{% load_widgets skew='includes/skew-overlay.html' %}

<section class="homepage">

    {# Top row - with images #}
    <section class="homepage__row homepage__row--top">
        {% with True as has_image %}
            {% placeholder slot11 %}
            {% placeholder slot12 %}
            {% placeholder slot13 %}
        {% endwith %}
    </section>

    {# Top row - without images #}
    <section class="homepage__row homepage__row--middle">
        {% widget 'skew:skew-overlay--top' %}

        {% placeholder slot21 %}
        {% placeholder slot22 %}
        {% placeholder slot23 %}

        {% widget 'skew:skew-overlay--bottom' %}
    </section>

    {# Top row - with images #}
    <section class="homepage__row homepage__row--bottom">
        {% with True as has_image %}
            {% placeholder slot31 %}
            {% placeholder slot32 %}
            {% placeholder slot33 %}
        {% endwith %}
    </section>

</section>

{% endblock %}
