body.profile {
  .block {
    padding: 10px;
    background-color: $white;
  }

  .avatars {

    .row.small {
      $padding: 2px;
      margin-left: -$padding;
      margin-right: -$padding;

      > * {
        padding-left: $padding;
        padding-right: $padding;
      }
    }
  }

  .relation {
    text-align: center;

    .fa-user {
      font-size: 500%;
      width: 100%;
      color: $main-color-purple;
    }
  }

  #current-user {
    background-color: $main-color-orange;
    color: $white;
    margin-bottom: 15px;
  }

  #form-login {
    margin-bottom: 25px;
    input {
      border: solid 1px rgba($main-color-light-purple, 0.3);
    }
  }

  h2.name {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;

    .surname {
      font-weight: normal;
    }
  }

  .email a {
    color: $main-color-orange;
  }
}
