body.profile {
  .avatars {
    .row.small {
      $padding: 2px;
      margin-left: -$padding;
      margin-right: -$padding;

      > * {
        padding-left: $padding;
        padding-right: $padding;
      }
    }
  }
}
