body.profile {
  .block {
    padding: 10px;
    background-color: $white;
  }

  .avatars {

    .row.small {
      $padding: 2px;
      margin-left: -$padding;
      margin-right: -$padding;

      > * {
        padding-left: $padding;
        padding-right: $padding;
      }
    }
  }

  .relation {
    text-align: center;
    background-color: $white;

    &.loose {
      margin-bottom: 10px;
    }

    &.padded {
      padding: 10px;
    }

    .fa-user {
      font-size: 500%;
      width: 100%;
      color: $main-color-purple;
      border: solid 1px rgba($main-color-purple, 0.2);

    }

    figcaption {
      text-align: left;
      color: $text-dark;
      margin-top: 5px;
    }

    a:hover {
      text-decoration: none;
    }

    .phone {
      margin-top: 5px;
      color: $main-color-light-purple;
      font-weight: bolder;

      .fa-mobile-phone {
        font-size: 18px;
        vertical-align: middle;
      }
    }

    .btn-action {
      padding: 3px 6px;
      font-size: 12px;
    }

    a.goto {
      display: inline-block;
      font-size: 10px;
      line-height: 17px;
      width: 23px;
      color: $white;
      background-color: $main-color-light-purple;
      float: right;
      text-align: center;
      i.fa-play {
        position: relative;
        left: 1px;
      }
    }
  }

  .profile-list .relation .fa-user {
    border: none;
    @include box-shadow(inset 0 0 1px 0 rgba($main-color-light-purple, 0.6));

    &:before {
      vertical-align: middle;
    }
  }

  #current-user {
    background-color: $main-color-orange;
    color: $white;
    margin-bottom: 15px;
  }

  #form-login {
    margin-bottom: 25px;
    input {
      border: solid 1px rgba($main-color-light-purple, 0.3);
    }
  }

  h2.name {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;

    .surname {
      font-weight: normal;
    }
  }

  .email a {
    color: $main-color-orange;
  }
}
