{% load i18n thumbnail formatting %}

<div class="profile-preview profile-preview--flavour{{ flavour }}">

    <figure class="profile-preview__picture">
        {% if user.picture %}
            <img src="{{ user.picture|thumbnail_url:'avatar_portrait' }}">
        {% else %}
            <span class="profile-preview__placeholder"></span>
        {% endif %}
    </figure>

    <span class="profile-preview__first-name">{{ user.first_name }}</span>
    <span class="profile-preview__last-name">{{ user.last_name }}</span>
    <span class="profile-preview__phone">{{ user.phone|phone }}</span>

    <div class="profile-preview__links">

        <a href="mailto:{{ relation.email }}" class="profile-preview__email">
            {% trans "Email me" %}
        </a>

        <a href="{{ user.get_absolute_url }}" class="profile-preview__goto">
            &gt;
        </a>
    </div>

</div>
