@import '../lib/responsive';

$body-content-width: 1280px !default;

body {
  background: var(--color-bg);
  min-height: 100vh;
  position: relative;

  &, & * {
    box-sizing: border-box;
  }

  .page-header,
  main,
  .page-footer {
    width: $body-content-width;
    margin: 0 auto;
  }

  main {
    background: var(--color-content-bg);
  }

  // ensure main grows if there's very little content on the page
  @include laptop {
    display: flex;
    flex-direction: column;

    & > main {
      flex-grow: 1;
    }
  }
}

@include mobile-only {
  body {
    .page-header,
    main,
    .page-footer {
      width: auto;
    }
  }

  .cms-toolbar {
    max-width: 100vw;
  }
}
