@import "../lib/typography";

$breadcrumbs-color: #43b792;

.breadcrumbs {
  @include body;
  color: $breadcrumbs-color;
  font-size: 2rem;
  font-weight: 400;
  text-transform: lowercase;
  line-height: 2.5rem;
  padding-left: 10px;

  & &__breadcrumb:after {
    content: " /";
  }

  & &__breadcrumb:last-child:after {
    display: none;
  }

}
