@use "../lib/colors";
@use "../lib/typography";

$breadcrumbs-color: colors.$theme-green !default;

.breadcrumbs {
  @include typography.body;
  color: $breadcrumbs-color;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: lowercase;
  line-height: 2.5rem;

  & &__breadcrumb {
    color: $breadcrumbs-color;
    text-decoration: none;
  }

  & &__breadcrumb:after {
    content: " /";
  }

  & &__breadcrumb:last-child:after {
    display: none;
  }

}
