@use "../lib/responsive";
@use "../lib/typography";

.calendar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 30px;

  position: relative;
  z-index: 5;
  max-width: 50%;
  margin-left: auto;

  @include responsive.mobile-only {
    max-width: 100%;
    align-items: flex-start;
  }

  &__goto {
    @include typography.body;
    color: rgba(white, 0.85);
    text-decoration: none;
    font-size: 1.1rem;

    transition: all 0.1s ease;

    &:hover {
      text-decoration: underline;
      color: white;
    }

    @include responsive.mobile-only {
      align-self: flex-end;
    }
  }
}
