@use "../lib/typography";

.cmsplugin-text {
  @include typography.body;

  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  p, li {
    font-size: 1.1rem;
  }

  h2 {
    @include typography.subtitle;
  }
}
