@use "sass:math";

@use "../lib/measurements";
@use "../lib/responsive";
@use "./body";

$header-content-width: body.$body-content-width !default;
$header-content-side-padding: 56px !default;

.header-content {
  position: relative;

  & &__background {
    position: absolute;
    z-index: 1;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;

    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;

      @include responsive.mobile-only {
        width: auto;
      }
    }
  }

  & &__background-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-image: url('../img/strepen.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.6;
  }

  & &__foreground {
    position: relative;
    z-index: 2;
  }

  & &__actions {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;

    position: relative;
    z-index: 1;  // layer on top of the social icons

    @include responsive.mobile-only {
      display: block;
    }
  }

  & &__end {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 30px $header-content-side-padding;

    height: measurements.$strepen-skew-height;

    @include responsive.laptop {
      margin-top: -#{math.div(measurements.$strepen-skew-height, 2)};
    }

    @include responsive.mobile-only {
      height: 80px;
      padding: 15px 0.5em 8px;
    }
  }

  & &__end-content {
    position: absolute;
    top: 30px;
    left: $header-content-side-padding;
    right: $header-content-side-padding;

    @include responsive.mobile-only {
      top: 15px;
      left: 0.5em;
      right: 0.5em;

      > .social-icon-list {
        padding: 0;
      }

      > .breadcrumbs {
        font-size: 1.2rem;
      }
    }
  }
}
