@use "../lib/measurements";
@use "../lib/responsive";

$homepage-middle-row-skew-height: measurements.$strepen-skew-height;

$page-content-padding: 56px;
$homepage-row-padding: 30px;

.homepage {
  & &__row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    padding-left: $homepage-row-padding;
    padding-right: $homepage-row-padding;

    @include responsive.mobile-only {
      flex-wrap: wrap;
      padding-left: 0;
      padding-right: 0;
    }

    &--middle {
      position: relative;

      // See _page-content for the side padding. we reset here because the
      // background need to span the full width
      margin-left: - $page-content-padding;
      margin-right: - $page-content-padding;
      padding-left: $page-content-padding + $homepage-row-padding;
      padding-right: $page-content-padding + $homepage-row-padding;

      background-image: url('../img/strepen-donker.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;

      // Set up the clipped path
      padding-top: $homepage-middle-row-skew-height;
      padding-bottom: $homepage-middle-row-skew-height;

      @include responsive.mobile-only {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;

        background-size: 100% 100%;

        // Correct the clipped path
        $mobile-skew-height: 80px;
        padding-top: $mobile-skew-height;
        padding-bottom: $mobile-skew-height;
      }
    }

    > * {
      width: 33%;

      @include responsive.mobile-only {
        width: 100%;
      }
    }
  }
}
