@use "../lib/colors";
@use "../lib/typography";

@mixin block-color($default: colors.$theme-green, $alt: white) {
  color: colors.$theme-green;

  @at-root .homepage__row--middle & {
    color: $alt;
  }
}

.homepage-block {
  text-align: center;
  text-decoration: none;
  padding: 1em;
  cursor: pointer;

  > img {
    max-width: 100%;
  }

  &#{&}--no-link {
    cursor: text;
  }

  & &__title {
    @include typography.subtitle;
    @include block-color;
    text-transform: uppercase;
    font-style: normal;
    font-size: 1.3rem;
  }

  & &__description {
    @include typography.body;
    @include block-color(colors.$font-color);
    font-size: 1.3rem;

    a {
      color: colors.$theme-green;
      text-decoration: underline;

      &:visited {
        color: var(--theme-color--green-lighter);
      }

      &:hover,
      &:focus {
        color: var(--theme-color--green-darker);
      }
    }
  }
}
