@import "../lib/measurements";
@import "../lib/responsive";

$homepage-middle-row-skew-height: $strepen-skew-height;

$page-content-padding: 56px;
$homepage-row-padding: 30px;

.homepage {
  & &__row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    padding-left: $homepage-row-padding;
    padding-right: $homepage-row-padding;

    @include mobile-only {
      flex-wrap: wrap;
      padding-left: 0;
      padding-right: 0;
    }

    &--middle {

      // See _page-content for the side padding. we reset here because the
      // background need to span the full width
      margin-left: - $page-content-padding;
      margin-right: - $page-content-padding;
      padding-left: $page-content-padding + $homepage-row-padding;
      padding-right: $page-content-padding + $homepage-row-padding;

      background-image: url('../img/strepen.png');
      background-size: 100% auto;
      background-repeat: repeat-y;

      // Set up the clipped path
      padding-top: $homepage-middle-row-skew-height;
      padding-bottom: $homepage-middle-row-skew-height;
      clip-path: polygon(
        0% 0%,
        100% $homepage-middle-row-skew-height,
        100% 100%,
        0% calc(100% - #{$homepage-middle-row-skew-height})
      );

      @include mobile-only {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;

        background-size: 100% 100%;

        // Correct the clipped path
        $mobile-skew-height: 80px;
        padding-top: $mobile-skew-height;
        padding-bottom: $mobile-skew-height;
        clip-path: polygon(
          0% 0%,
          100% $mobile-skew-height,
          100% 100%,
          0% calc(100% - #{$mobile-skew-height})
        );
      }
    }

    > * {
      width: 33%;

      @include mobile-only {
        width: 100%;
      }
    }
  }
}
