@import "../lib/colors";
@import "../lib/typography";

@mixin block-color($default: $theme-green, $alt: white) {
  color: $theme-green;

  @at-root .homepage__row--middle & {
    color: $alt;
  }
}

.homepage-block {
  text-align: center;
  text-decoration: none;
  padding: 1em;
  cursor: pointer;

  > img {
    max-width: 100%;
  }

  &#{&}--no-link {
    cursor: text;
  }

  & &__title {
    @include subtitle;
    @include block-color;
    text-transform: uppercase;
    font-style: normal;
    font-size: 1.3rem;
  }

  & &__description {
    @include body;
    @include block-color($font-color);
    font-size: 1.3rem;

    a {
      color: $theme-green;
      text-decoration: underline;

      &:visited {
        color: lighten($theme-green, 20%);
      }

      &:hover,
      &:focus {
        color: darken($theme-green, 20%);
      }
    }
  }
}
