@use "../lib/colors";
@use "../lib/responsive";

.key-value {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  line-height: 1.3em;

  &#{&}--extra-spacing {
    margin-top: 1em;
  }

  &#{&}--swap-ratio {
    .key-value__key {
      width: 60%;
    }

    .key-value__value {
      width: 40%;
    }
  }

  & &__key {
    width: 40%;
    color: colors.$font-color-light;
  }

  & &__value {
    width: 60%;
    font-weight: 400;

    &--icon {
      display: flex;
      align-items: center;

      .material-icons {
        font-size: 1.2rem;
        margin-right: 0.5rem;
      }
    }
  }

  @include responsive.mobile-only {
    &, &#{&}--swap-ratio {
      display: block;

      & &__key {
        display: block;
        width: 100% !important;
        line-height: 1.5em;
      }

      & &__value {
        display: block;
        width: 100% !important;

        &--icon {
          display: flex;
        }
      }

    }

  }
}
