@import "../lib/typography";

$menu-font-color: #ffffff !default;
$menu-space-inbetween: 1.4em;

.menu {
  display: flex;
  padding: 0 $menu-space-inbetween / 2;

  & &__item {
    @include title;
    display: block;
    color: $menu-font-color;
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 4rem;
    text-decoration: none;
    padding: 0 $menu-space-inbetween / 2;

    &:hover {
      text-decoration: underline;
      color: darken($menu-font-color, 10%);
    }
  }

  & &__child &__item {
    font-size: 1.1rem;
    line-height: 3rem;
    padding-left: 2rem;
  }
}
