@use "sass:math";

@use "../lib/colors";
@use "../lib/responsive";
@use "../lib/measurements";

$border-height: 500px;

.page-content {
  padding: 0 measurements.$page-content-side-padding 2em;
  position: relative;
  z-index: 1;

  @include responsive.mobile-only {
    padding: 20px 0.5em 0;
  }

  & &__border {
    display: block;
    position: absolute;
    top: calc(50% - #{math.div($border-height, 2)});
    left: 0;
    width: 5px;
    height: $border-height;
    background: colors.$theme-green-yellow;

    @include responsive.mobile-only {
      display: none;
    }
  }
}

.page-content img {
  max-width: 100%;
}
