@use "../lib/colors";
@use "../lib/responsive";
@use "../lib/typography";

.page-title {
  @include typography.title;
  color: colors.$theme-green-yellow;
  font-size: 2.4rem;

  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;

  padding: 0.75rem 0 1.5rem;

  @include responsive.mobile-only {
    font-size: 2rem;
  }

  &__subtitle {
    display: block;
    font-size: 1.2rem;
    color: colors.$font-color-light;
    margin-top: 0.5rem;

    @include responsive.mobile-only {
      font-size: 1rem;
    }
  }
}
