@use "../lib/colors";
@use "../lib/typography";
@use '../lib/responsive';

.page-footer {
  @include typography.body;
  min-height: 100px;
  padding: 2rem;

  display: flex;

  background: colors.$theme-green;
  color: white;

  &__column {
    width: 100%;
    flex-grow: 1;
    margin: 0 0.5rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  // cms generated links don't have classnames
  a {
    color: white;
    text-decoration: underline;

    &:hover,
    &:focus {
      font-weight: bold;
    }
  }
}

@include responsive.mobile-only {
  .page-footer {
    display: block;
    padding: 1rem;

    &__column {
      margin: 0;

      & + & {
        margin-top: 1rem;
      }
    }
  }
}
