@use "../lib/colors";
@use "../lib/typography";
@use "../lib/responsive";

.pagination {
  display: flex;
  flex-wrap: wrap;

  &__page {
    @include typography.body;
    font-size: 1.2rem;

    display: block;
    padding: 0.25rem 0.5rem;
    background-color: colors.$theme-purple;
    color: white;
    text-decoration: none;
    margin-bottom: 0.25rem;
    min-width: 2.35rem;
    text-align: center;

    &:hover {
      box-shadow: 2px 2px 5px 0 colors.$shadow-form-inputs;
      background-color: colors.$theme-green-yellow;
      color: colors.$font-color;
    }

    &#{&}--current {
      background-color: colors.$theme-green-yellow;
      color: colors.$font-color;
    }

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &__separator {
    @include typography.body;
    font-size: 1.2rem;

    display: block;
    padding: 0.25rem 0.5rem;
    min-width: 2.35rem;
    color: colors.$theme-purple;

    &:after {
      content: "…";
    }
  }

  // only display one instead of for every non-shown page
  &__separator + &__separator {
    display: none;
  }

}
