@import "../lib/colors";

$border-height: 500px;
$page-content-side-padding: 56px !default;

.page-content {
  padding: 0 $page-content-side-padding 2em;
  position: relative;

  & &__border {
    display: block;
    position: absolute;
    top: calc(50% - #{$border-height / 2});
    left: 0;
    width: 5px;
    height: $border-height;
    background: $theme-green-yellow;
  }
}
