@use "../lib/colors";
@use "../lib/typography";

.search-results {
  color: var(--color-fg);
}

.search-result {
  padding: 1rem 0;

  & &__link {
    display: block;
    text-decoration: none;
    color: colors.$theme-green;

    &:hover {
      text-decoration: underline;
    }
  }

  & &__title {
    @include typography.title;
  }

  & &__description {
    @include typography.body;
    font-size: 1.2rem;
  }
}
