@use "../lib/measurements";
@use "../lib/responsive";

.skew-overlay {
  position: absolute;
  left: 0;
  right: 0;

  width: 100% !important;
  height: measurements.$strepen-skew-height + 1px;

  @include responsive.mobile-only {
    height: measurements.$strepen-skew-height--mobile;
  }

  &#{&}--top {
    top: 0;
  }

  &#{&}--bottom {
    bottom: -1px;
  }

  & &__triangle {
    fill: var(--color-content-bg);
  }
}

// TODO: use clip-path on Chome/FF, fall back to no margin-top on Edge/IE;
.skew-overlay-container {
  position: relative;
  background-image: url('../img/strepen.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: measurements.$strepen-skew-height;
  margin-bottom: -2em;

  @at-root .page-content & {
    margin-left: -1 * measurements.$page-content-side-padding;
    margin-right: -1 * measurements.$page-content-side-padding;
  }

  @include responsive.mobile-only {
    height: measurements.$strepen-skew-height--mobile;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0;
  }
}
