{% extends "master.html" %}{% load i18n %}


{% block body-class %}profile{% endblock %}


{% block content %}
<div class="row">

    <div class="col-md-9 col-xl-10">
        {% block main-content %}{% endblock %}
    </div>


    <aside class="col-md-3 col-xl-2">
        {% block aside %}
            <div id="current-user" class="block">
                <h4>{% trans "Welcome" %}<br>{{ user.get_full_name }}</h4>

                <a href="{{ user.get_absolute_url }}">
                    <i class="fa fa-eye"></i>
                    {% trans "View profile" %}
                </a>

                <a href="{% url 'users:profile-edit' %}">
                    <i class="fa fa-pencil"></i>
                    {% trans "Edit profile" %}
                </a>
            </div>

            {% include "users/user_search_form.html" %}

        {% endblock %}
    </aside>

</div>
{% endblock content %}


{% block extra_js %}
<script>
$(window).load(syncHeights);

$(function() {
    $(window).resize(function() {
        $('.link-height').data('processed', false).height('auto');
        syncHeights();
    });
});

function syncHeights() {
    $('.link-height').each(function() {
        if($(this).data('processed')) {
            return;
        }

        var linkID = $(this).data('linkid');
        var set  = $('.link-height[data-linkid="'+linkID+'"]');
        set.data('processed', true);

        var height = $.map(set, function(e) {
            return $(e).height();
        }).reduce(function(prevResult, element, index, input) {
            return Math.max(prevResult, element);
        });
        set.each(function() {
            $(this).height(height);
        });
    });
}
</script>
{% endblock extra_js %}
