{% load thumbnail i18n %}

<ul class="list-unstyled">
	{% for profile in birthday_users %}
		<li class="clearfix">
			<figure class="pull-left">
				{% if profile.picture %}
				    <img src="{{ profile.picture|thumbnail_url:'birthday' }}" class="img-responsive">
				{% else %}
				    <i class="fa fa-user"></i>
				{% endif %}
			</figure>
			<h4>
				{{ profile.get_full_name|default:profile }}
				<small>{{ profile.birthdate|date:"j F" }}</small>
			</h4>
		</li>
	{% empty %}
	<li>{% blocktrans count weeks=weeks %}
	No upcoming birthdays in the next week
	{% plural %}
	No upcoming birthdays in the next {{ weeks }} weeks.
	{% endblocktrans %}</li>
	{% endfor %}
</ul>