{% extends "master.html" %}{% load i18n sniplates %}

{% block body-class %}profile{% endblock %}

{% block content %}
    {% load_widgets form='includes/forms/default.html' %}

    <h1 class="page-title">{% trans "Login" %}</h1>

    <div class="cmsplugin-text">
        <p>{% trans "Enter your e-mail address and password or username and password to login." %}</p>
        <br>
    </div>

    <form action="." method="post" class="form" id="form-login">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <input type="hidden" name="next" value="{{ request.REQUEST.next }}">
        {% for field in form %}
            {% form_field field %}
        {% endfor %}

        <div class="form__submit-row">
            {% widget 'form:submit' text=_("Login") %}
            <a href="{% url 'user_passwords:password_reset' %}">{% trans "Forgot password?" %}</a>
        </div>

    </form>
{% endblock %}
