{% extends "cms/base.html" %}
{% load i18n thumbnail formatting staticfiles leaflet_tags %}

{% block body-class %}profile-page{% endblock %}

{% block content %}

<article class="profile-page__profile profile-detail">

    <nav class="profile-detail__header-bar">
        <a class="profile-detail__back-link" href="{% url 'users:list' %}">
            {% trans "Back to overview" %}
        </a>
        <h2 class="profile-detail__title">{% trans "Profile" %}</h2>
    </nav>

    <section class="profile-detail__pictures">

        {% block profile_pic %}
            <figure class="profile-detail__profile-pic">
                {% if profile.picture %}
                    <img src="{% thumbnail profile.picture 400x400 box=profile.cropping crop upscale %}">
                {% else %}
                    {# TODO #}
                    <i class="fa fa-user"></i>
                {% endif %}
            </figure>
        {% endblock %}

        {% if profile.partner %}
        <div class="profile-detail__relations">
            <h4 class="profile-detail__relation-title">{% trans "Partner of" %}:</h4>
            <div class="profile-detail__relation-avatars">
                {% with profile=profile.partner %} {% include "users/user_avatar.html" %} {% endwith %}
            </div>
        </div>
        {% endif %}

        {% if profile.children %}
        <div class="profile-detail__relations">
            <h4 class="profile-detail__relation-title">{% trans "Children" %}:</h4>
            <div class="profile-detail__relation-avatars">
                {% for profile in profile.children %}
                    {% include "users/user_avatar.html" %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </section>

    <section class="profile-detail__details">

        <span class="profile-detail__member-type">{{ profile.get_member_type_display }}</span>

        <h3 class="profile-detail__first-name">{{ profile.first_name }}</h3>

        <span class="profile-detail__last-name">{{ profile.last_name }}</span>

        <div class="key-value">
            <span class="key-value__key">{% trans "Date of birth" %}</span>
            <span class="key-value__value">{{ profile.birthdate }}</span>
        </div>

        <div class="key-value key-value--extra-spacing">
            <span class="key-value__key">{% trans "Address" %}</span>
            <span class="key-value__value">{{ profile.address }}</span>
        </div>
        <div class="key-value">
            <span class="key-value__key">{% trans "Postal code" %}</span>
            <span class="key-value__value">{{ profile.postal_code }}</span>
        </div>
        <div class="key-value">
            <span class="key-value__key">{% trans "Location" %}</span>
            <span class="key-value__value">{{ profile.city }}</span>
        </div>

        <div class="key-value key-value--extra-spacing">
            <span class="key-value__key">{% trans "Telephone" %}</span>
            <span class="key-value__value">{{ profile.phone|phone }}</span>
        </div>
        {% block mobile %}
        <div class="key-value">
            <span class="key-value__key">{% trans "Mobile phone" %}</span>
            <span class="key-value__value">{{ profile.mobile|phone }}</span>
        </div>
        {% endblock %}
        {% block email %}
        <div class="key-value">
            <span class="key-value__key">{% trans "Email" %}</span>
            <span class="key-value__value email">{{ profile.email|urlize }}</span>
        </div>
        {% endblock %}

        <div class="key-value key-value--extra-spacing">
            <span class="key-value__key">{% trans "District function" %}</span>
            <span class="key-value__value">{{ profile.district_function|default:'-' }}</span>
        </div>

        {% block about_me %}
        <div class="key-value key-value--extra-spacing">
            <span class="key-value__key">{% trans "About me" %}</span>
            <span class="key-value__value">{{ profile.about_me|default:'-' }}</span>
        </div>
        {% endblock %}


        <div class="profile-detail__map">
            {% leaflet_map "user-map" %}
        </div>

    </section>

    <section class="profile-detail__connections">
        <h4 class="profile-detail__relation-title">
            {% trans "1<sup>st</sup> degree connections" %}
        </h4>
        {% for relation in profile.connections %}
            {% cycle '1' '2' '3' '4' as flavour silent %}
            {% include "users/includes/profile_preview.html" with user=relation flavour=flavour only %}
        {% endfor %}
    </section>
</article>

<aside class="profile-page__search">
    {% include "users/user_search_form.html" with form=search_form|default:form %}
</aside>

{% endblock content %}


{% comment %}
{% block extra_js %}
{{ block.super }}
<script src="//maps.googleapis.com/maps/api/js"></script>
<script>var address = '{{ profile.get_location_string }}';</script>
<script src="{% static "users/js/map.js" %}"></script>
{% endblock %}
{% endcomment %}
