{% extends "users/user_detail.html" %}{% load sniplates i18n %}

{% block extrahead %}
{{ form.media }}
{% endblock extrahead %}

{% block aside %} {% with search_form as form %} {{ block.super }} {% endwith %} {% endblock %}


{% block profile-content %}
<form action="." class="form" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ block.super }}
</form>
{% endblock %}


{% block profile_pic %}
    {{ form.picture }}

    {% if form.picture.value %}
        <div class="field">
            <label class="field__label" style="margin-bottom: 0.5rem;">{% trans "Set size" %}</label>
            {{ form.cropping }}
        </div>
    {% endif %}

{% endblock %}


{% block mobile %}
{% load_widgets form='includes/forms/default.html' %}
{% form_field form.mobile %}
{% endblock %}


{% block email %}
{% load_widgets form='includes/forms/default.html' %}
{% form_field form.email %}
<br>
{% form_field form.username %}
{% endblock %}


{% block about_me %}
{% load_widgets form='includes/forms/default.html' %}
{% form_field form.about_me %}

{% trans "save" as save %}
{% widget 'form:submit' text=save %}
{% endblock %}
