{% load i18n thumbnail formatting %}
<div class="col-sm-3 col-lg-5ths">
    <div class="padded relation loose">
        <a href="{{ relation.get_absolute_url }}" title="{{ relation.get_full_name }}">
            <figure class="link-height" data-linkid="2">
                {% if relation.picture %}
                    <img src="{{ relation.picture|thumbnail_url:'avatar_portrait' }}">
                {% else %}
                    <i class="fa fa-user"></i>
                {% endif %}
                <figcaption><strong>{{ relation.first_name }}</strong><br>{{ relation.last_name }}</figcaption>
            </figure>
        </a>
        <div class="text-left">
            <p class="phone">
                <i class="fa fa-mobile-phone"></i>
                {{ relation.phone|phone }}
            </p>
            <a href="mailto:{{ relation.email }}" class="btn btn-action">
                {% trans "Email me" %}
            </a>

            <a href="{{ relation.get_absolute_url }}" class="goto btn-action"><i class="fa fa-play"></i></a>
        </div>
    </div>
</div>
