{% extends "cms/base.html" %}
{% load sniplates %}

{% block content %}
<article class="profile-list">
    <span class="profile-list__search-icon"></span>

    <section class="profile-list__profiles">

        {% for profile in object_list %}
            {% cycle '1' '2' '3' '4' as flavour silent %}
            {% include "users/includes/profile_preview.html" with user=profile flavour=flavour only %}
        {% endfor %}

        {% include "includes/pagination.html" with qs=search_form_qs %}

    </section>

    <aside class="profile-list__search">
        <span class="profile-list__search-close">x</span>
        {% include "users/user_search_form.html" with filter=search_filter|default:filter %}
    </aside>
</article>
{% endblock %}

{% block stripes-bottom %}
{% load_widgets skew='includes/skew-overlay.html' %}
<div class="skew-overlay-container">
    {% widget 'skew:skew-overlay--top' %}
</div>
{% endblock %}
