{% load i18n sniplates %}
<form action="{% url 'users:search' %}" method="get" class="block">
{% load_widgets form='default.form' %}
<fieldset>
    {% form_field form.full_name %}
    {% widget 'form:btn-submit' btn_text=_('Search') btn_class='btn-action' %}
</fieldset>

<fieldset>
    <h4>{% trans "Advanced search" %}</h4>
    {% form_field form.query %}
    {% form_field form.sex %}
    {% form_field form.min_age %}
    {% form_field form.max_age %}
    {% form_field form.first_name %}
    {% form_field form.last_name %}
    {% form_field form.address %}
    {% form_field form.district_function %}
    {% form_field form.member_type %}

    {% widget 'form:btn-submit' btn_text=_('Search') btn_class='btn-action' %}
</fieldset>
</form>
