{% extends "cms/base.html" %}


{% block content %}
<article class="profile-list">
    <section class="profile-list__profiles">

        {% for i in '1234' %}
            {% for profile in object_list %}
                {% cycle '1' '2' '3' '4' as flavour silent %}
                {% include "users/includes/profile_preview.html" with user=profile flavour=flavour only %}
            {% endfor %}
        {% endfor %}

        {% include "includes/pagination.html" with qs=search_form_qs %}

    </section>

    <aside class="profile-list__search">
        {% include "users/user_search_form.html" with form=search_form|default:form %}
    </aside>
</article>
{% endblock %}
