{% extends "users/base.html" %}{% load i18n thumbnail formatting %}


{% block main-content %}
    <div class="row gutter-small profile-list">
        {% for relation in profiles %}
            {% include "users/user_preview.html" %}
        {% endfor %}
    </div>

    <div class="pull-left">
        <a href="{% url 'users:search-pdf' %}?{{ search_form_qs }}">
            <i class="fa fa-file-pdf-o"></i>
            {% trans "export to pdf" %}
        </a>
    </div>

    {% include "includes/pagination.html" with qs=search_form_qs %}

{% endblock main-content %}
