{% load i18n thumbnail %}

<article class="list-item {{ item_type }}">
    <div class="row">
        <div class="col-md-2 text-center">
            {% block item-image %}
                <div class="image rounded-medium">
                    <img src="{{ object.get_image|thumbnail_url:'medium' }}" class="img-circle">
                </div>
            {% endblock %}
        </div>
        <div class="col-md-6">
            <header>
                <span class="badge {{ item_type }}">{% block item-type %}{% trans "Other" %}{% endblock %}</span>

                {% block item-head %}{% endblock %}
                {% block item-title %}<h4><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h4>{% endblock %}
            </header>

            {% block item-body %}
                <section class="intro">{{ object.description }}</section>
            {% endblock %}
        </div>
        <div class="col-md-4">
            {% comment %}
                NOTE: Disabled by ticket #296
                {% block item-side %}{% endblock %}
            {% endcomment %}
        </div>
    </div>
</article>