# {{ ansible_managed }}

upstream {{ user }}_{{ env }} {
    server 127.0.0.1:{{ backend_port }};
}

server {
    listen 80;
    server_name {{ server.name }}
                {{ server.aliases|join(' ') }};
    return 301 https://{{ server.name }}$request_uri;
}

server {
    listen       443;
    server_name {{ server.name }}
                {{ server.aliases|join(' ') }};
    error_log {{ nginx_log_dir }}/error.log warn;
    access_log  {{ nginx_log_dir }}/access.log main;

    charset utf-8;
    root /var/www/html;

    client_max_body_size 512m;
    client_body_timeout 300s;

    ssl on;
    ssl_certificate /etc/letsencrypt/live/{{ server.name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ server.name }}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.1 TLSv1;
    ssl_dhparam /etc/ssl/certs/dhparam.pem;
    ssl_prefer_server_ciphers on;
    ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS !RC4 ";

    # # 180 days
    # add_header Strict-Transport-Security "max-age=15552000; includeSubdomains; preload";

    # gzip static files
    gzip on;
    gzip_min_length 1000;
    gzip_types
        text/css
        text/plain
        text/javascript
        application/javascript
        application/x-javascript
        application/json;

    location ~ /\.ht {
        deny all;
    }

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_pass http://{{ user }}_{{ env }};
    }

    {% for dir in nginx_file_dirs %}
    {%- set bits = dir.split('/') -%}
    location /{{ bits[-1] }} {
        expires 30d;
        alias {{ dir }};
        access_log  {{ nginx_log_dir }}/media.access.log;
    }
    {% endfor %}
}
