{% load sniplates i18n %}

{# Base elements to build forms #}

{# UX elements #}
{% block _label %}
{% if label %}<label for="{{ id_for_label }}" class="{{ bem_class }}">{{ label }}</label>{% endif %}
{% endblock %}


{% block _help_text %}
{% if help_text %} <span class="{{ bem_class }}">{{ help_text }}</span> {% endif %}
{% endblock _help_text %}


{# Input elements #}

{% block input %}
{% with input_type=input_type|default:"text" %}
<input type="{{ input_type }}"
    name="{{ html_name }}"
    id="{{ id }}"
    value="{{ raw_value|default:"" }}"
    class="{{ bem_class }} {{ bem_class }}--{{ errors|yesno:"invalid,valid" }} {{ css_classes }}"
    {{ widget.attrs|flatattrs }}
    {{ required|yesno:"required," }}
    {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
>
{% endwith %}
{% endblock %}


Underscore prefixed to avoid potentially clashing with:
 - {field}_{name}
 - {widget}_{name}
 - {field}_{widget}
{% block _Select_Option %}
<option value="{{ val }}" {% if val == value|default:None %}selected{% endif %}>{{ display }}</option>
{% endblock %}

{% block _Select_Choice %}
{% if choice.is_group %}
<optgroup label="{{ choice.value }}">
    {% for val, display in choice.display %}
        {% reuse '_Select_Option' val=val value=value display=display %}
    {% endfor %}
</optgroup>
{% else %}
    {% reuse '_Select_Option' val=choice.value value=value display=choice.display %}
{% endif %}
{% endblock %}


{# Buttons #}
{% block submit %}
<button type="submit" class="button button--submit">{{ text|default:_("Submit") }}</button>
{% endblock submit %}

{% block link-btn %}
<a href="{{ href }}" class="button">{{ text|default:_("Follow link") }}</a>
{% endblock link-btn %}
