@use "../../lib/colors";

.button {
  padding: 0.4em 0.8em;
  border: solid 1px colors.$theme-green-yellow;
  background: var(--color-input-bg);
  color: var(--color-fg);

  font-size: 1.2rem;
  cursor: pointer;

  &#{&}--submit {
    &:hover {
      background: colors.$theme-green-yellow;
    }
  }
}
