.checkbox-select {
  margin: 0;
  padding: 0.5em 0 0 0.5em;

  & &__option {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.2em 0;

    input {
      display: none;

      &:checked + .checkbox-select__checkbox:before {
        content: "\2713";
      }
    }
  }

  & &__checkbox {
    display: block;
    margin-right: 0.5em;

    &:before {
      content: "";
      display: block;
      width: 1em;
      height: 1em;
      border: solid 1px #ccc;
      text-align: center;
    }
  }
}
