@import "../../lib/colors";
@import "../../lib/typography";


.form {
  @include body;

  &#{&}--on-top {
    position: relative;
    z-index: 10;
  }

  &--last {
    padding-bottom: 25px;
  }

  & &__submit-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 25px;

    a {
      color: $font-color-light;
      text-decoration: none;
      font-size: 1.2rem;

      &:hover {
        text-decoration: underline;
        color: $theme-green;
      }

      &:focus {
        color: $theme-green;
      }
    }
  }

  & &__section {
    border: solid 1px var(--form-section-border-color);
    margin-bottom: 2em;
  }

  & &__section-title {
    @include page-title;
    color: var(--color-fg);
    font-size: 2rem;
    margin: 1rem 0;
  }
}
