@import "../../lib/typography";


.form {

  & &__submit-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 25px;
  }

  & &__section {
    border: solid 1px #eee;
    margin-bottom: 2em;
  }

  & &__section-title {
    @include page-title;
    font-size: 2rem;
    margin: 1rem 0;
  }
}
