body {
  color: $text-dark;
}

.narrow {
  $spacing: 50px;
  padding-left: $spacing;
  padding-right: $spacing;

  .narrow {
    margin-left: -$spacing;
    margin-right: -$spacing;
  }
}

.gutter-small {
  $padding: 5px;

  &, .row, .form-horizontal .form-group {
    margin-left: -$padding;
    margin-right: -$padding;
  }

  > *, .row > *, .form-group > * {
    padding-left: $padding;
    padding-right: $padding;
  }
}

#content {
  background-color: $color-background;
  padding-top: 25px;
}

article {
  background-color: $white;
  padding: 15px;
  margin-bottom: 15px;

  h1, h2 {
    color: $main-color-green;
    font-weight: bold;
  }

  footer {
    text-align: right;
  }
}

.page-block {
  background-color: $white;
}

img {
  width: 100%;
}

.margin-top {
  margin-top: 25px;
}

.section {
  margin-top: 10px;
}

.page-divider {
  font-weight: bold;
  background-color: $white;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*
 * Buttons
 */
.btn {
  @include border-radius(0);
  text-transform: uppercase;

  &, &:hover, &:active, &.active, &:focus {
    background-image: none;
    border: none;
    outline: none;
  }

  &.btn-default {
    background-color: $main-color-green;
    color: $text-dark;
  }

  &.btn-action {
    background-color: $main-color-orange;
    color: $white;
    font-weight: bold;
  }

  &.read-more {
    font-weight: bold;

    .glyphicon {
      color: $white;
    }
  }
}

a {
  &.orange,
  &.green,
  &.blue,
  &.purple {
    color: $white;
    text-transform: uppercase;
    padding: 6px 12px;
    font-weight: bolder;

    &.read-more {
      padding-right: 0;
      .glyphicon-play {
        margin-right: 12px;
        color: $white;
      }
    }
  }

  &.orange {
    background-color: $main-color-orange;
  }

  &.purple {
    background-color: $main-color-purple;
  }

  &.green {
    background-color: $main-color-green;
    color: $text-dark;
  }

  &.blue {
    background-color: $main-color-blue;
  }
}
