body {
  color: $text-dark;
}

.narrow {
  $spacing: 65px;
  padding-left: $spacing;
  padding-right: $spacing;

  .narrow {
    margin-left: -$spacing;
    margin-right: -$spacing;
  }
}

#content {
  background-color: $color-background;
  padding-top: 25px;
}

article {
  background-color: $white;
  padding: 15px;
  margin-bottom: 15px;

  h1, h2 {
    color: $main-color-green;
    font-weight: bold;
  }

  footer {
    text-align: right;
  }
}

img {
  width: 100%;
}



/*
 * Buttons
 */
.btn {
  @include border-radius(0);

  &, &:hover, &:active, &.active, &:focus {
    background-image: none;
    border: none;
    outline: none;
  }

  &.btn-default {
    background-color: $main-color-green;
    color: $text-dark;
  }

  &.read-more {
    text-transform: uppercase;
    font-weight: bold;

    .glyphicon {
      color: $white;
    }
  }
}

.gutter-small {
  $padding: 5px;

  &, .row {
    margin-left: -$padding;
    margin-right: -$padding;
  }

  > *, .row > * {
    padding-left: $padding;
    padding-right: $padding;
  }
}
