body.home {
  .calendar {
    background-color: $main-color-blue;
    padding: 10px;
  }

  .calendar-item {
    $size: 64px;
    padding: 0;
    background-color: transparent;

    .date {
      display: block;
      margin-right: 10px;
      background: url('../../img/calendar-date.png') no-repeat center center;
      background-size: $size $size;
      width: $size;
      height: $size;
      text-align: center;

      > * {
        display: block;
        color: darken(#4C514E, 3);
      }

      > .day {
        margin-top: 19px;
        font-size: 34px;
        line-height: 30px;
        font-weight: bold;
      }

      > .month {
        line-height: 12px;
      }
    }

    .description {
      display: block;
      padding-top: 10px;
      color: $white;
      height: $size;
    }
  }
}

body.calendar {
  form {
    @include style-form-elements();
  }

  #calendar-search {

    margin-bottom: 15px;
    padding: 5px;

    .form-group {
      margin-bottom: 0;
    }

    .input-group {
      max-width: 250px;

      .input-group-addon {
        background-color: transparent;
        border: none;
        font-size: 20px;
        padding-left: 6px;
        @include opacity(0.8);
      }
    }
  }

  .fc-toolbar {
    background-color: $main-color-blue;
    color: $white;
    padding: 5px 10px;

    h2 {
      font-size: 18px;
    }

    .fc-icon {
      font-family: FontAwesome;
    }

    .fc-prev-button, .fc-next-button {
      background: transparent;
      padding: 0;
      border: none;
      color: $white;
    }
  }
}
