body.home {
  .calendar {
    background-color: $main-color-blue;
    padding: 10px;
  }

  .calendar-item {
    $size: 64px;
    padding: 0;
    background-color: transparent;

    .date {
      display: block;
      margin-right: 10px;
      background: url('../../img/calendar-date.png') no-repeat center center;
      background-size: $size $size;
      width: $size;
      height: $size;
      text-align: center;

      > * {
        display: block;
        color: darken(#4C514E, 3);
      }

      > .day {
        margin-top: 19px;
        font-size: 34px;
        line-height: 30px;
        font-weight: bold;
      }

      > .month {
        line-height: 12px;
      }
    }

    .description {
      display: block;
      padding-top: 10px;
      color: $white;
      height: $size;
    }
  }
}

body.calendar {
  form {
    @include style-form-elements();
  }

  #calendar-search {

    margin-bottom: 15px;
    padding: 5px;

    .form-group {
      margin-bottom: 0;
    }

    .input-group {
      max-width: 250px;

      input {
        padding: 2px 6px;
        height: 26px;
      }

      .input-group-addon {
        background-color: transparent;
        border: none;
        font-size: 20px;
        padding: 2px 6px;
        @include opacity(0.8);
      }
    }
  }

  .fc-event {
    background-color: transparent;
    color: $main-color-blue;
    border-color: transparent;
    font-weight: bolder;

    &:before {
      content: "\2022";
      float: left;
      margin: 0 2px;
      font-size: 130%;
      line-height: 16px;
    }

    &.fc-not-start,
    &.fc-not-end {
      background-color: $main-color-light-purple;
      border-color: $main-color-purple;
    }
  }

  .fc-state-highlight {
    background-color: $main-color-blue !important;
    color: $white !important;
  }

  .fc-toolbar {
    background-color: $main-color-blue;
    color: $white;
    padding: 2px 10px;
    height: 33px;
    margin-bottom: 2px;

    h2 {
      font-size: 22px;
      line-height: 1.4;
      text-transform: capitalize;
      font-weight: bolder;
    }

    .fc-icon {
      font-family: FontAwesome;
    }

    .fc-prev-button, .fc-next-button {
      background: transparent;
      padding: 0;
      border: none;
      color: $white;
      text-shadow: none;
      @include box-shadow(none);

      &.fc-state-hover {
        z-index: 0;
      }

      .fc-icon {
        font-size: 20px;
        line-height: 1.4;
        margin: 0;
        position: static;
        height: auto;
      }
    }
  }

  .fc .fc-toolbar button {
    height: auto;
    font-size: 16px;
  }

  // month view
  div.fc-bg,
  div.fc-widget-header,
  div.fc-content-skeleton {
    margin-left: -5px;
    margin-right: -5px;

    table {
      border-collapse: separate;
      border-spacing: 5px 3px;
    }
  }

  .fc-day-header {
    border: none;
    background-color: $main-color-green;
    text-transform: capitalize;
    padding: 5px 10px;
  }

  th.fc-day-header {
    color: $white;
  }

  td.fc-widget-header,
  td.fc-widget-content {
    border: none;
  }

  td.fc-day {
    background-color: $white;

    &.fc-other-month {
      background-color: darken($color-background, 5);
    }
  }

  .fc-ltr .fc-basic-view .fc-day-number {
    text-align: left;
  }

  .fc-day-header {
    color: $text-dark;
    text-align: center;

    &.sub {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }

  // sidebar
  aside {
    overflow: hidden;

    h3 {
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 5px !important;
      background-color: $main-color-blue;
      color: $white;
      font-weight: bolder;
      line-height: 30px;
    }

    .page-block {
      height: 100%;
      height: calc(100% - 76px);
    }

    a.activity.detail.link {
      display: block;
      color: $text-dark;
      font-weight: bold;
      padding: 10px;

      .fa-play {
        color: $main-color-blue;
      }
    }
  }

  &.detail {
    .fc-toolbar {
      margin-bottom: 5px;
    }

    h3.fc-day-header.sub {
      font-size: 19px;
      text-transform: none;
    }
  }
}
