body.cms-page {

  .cms-content {
    background-color: $white;
    padding: 15px;
  }

  .cmsplugin-text {
    @media (max-width: 768px) {
      a {
        display: inline-block;
        margin-top: 10px;
      }

      .pull-right {
        float: none!important;
      }
    }
  }

  span.file {
    img {
      width: auto;
    }
  }

}
