$color-background: #E9E9E9;

/*
 * color palette
 */
$main-color-green: #D9E12E;
$main-color-purple: #6D095E;
$main-color-light-purple: #A23854;
$main-color-orange: #EC7537;
$main-color-blue: #70BDBD;
$dark-blue: #41575D;

$text-dark: #584C40;


$white: #FFFFFF;
$black: #000000;
