#content {
  padding-bottom: 50px;
}

body > footer {
  background-color: $main-color-light-purple;
  color: $white;

  #newsletter {
    background-color: $main-color-green;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $text-dark;

    h2 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  #main-footer {
    padding-top: 10px;
    padding-bottom: 10px;

    ul {
      padding-left: 0;
      list-style-type: none;

      &.children {
        padding-left: 1em;

        li.child:before {
          display: inline-block;
          content: "-";
          width: 0.5em;
          margin-left: -1em;
        }
      }
    }

    li {
      a {
        color: $white;
      }
    }
  }

  #copyright {
    background-color: $main-color-purple;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  article {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
  }
}

