.form-group {
  margin-bottom: 10px;
}

.form-control {
  border: none;
  @include border-radius(0);

  &.error {
    border: solid 1px red;
  }
}

form {
  .btn {
    color: $white;
    font-size: 18px;
    padding: 6px 6px;

    @include transition(background-color, 0.5s);

    &:hover, &:focus, &:active {
      position: relative;
      top: 2px;
    }
  }

  .btn-fade {
    &:hover, &:focus, &:active {
      color: $white;
      background-color: rgba($black, .075);
    }
  }

  .btn-transparent {
    background-color: transparent;
  }
}


.errorlist {
  padding-left: 0;

  li {
    color: red;
    font-weight: bold;
    list-style-type: none;
  }
}
