body > header {
  position: relative;

  &.header-container {
    overflow: hidden;
  }
}

$header-height: 375px;
#header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  z-index: 3;
  height: $header-height;
  width: 100%;
  @media (max-width: 992px) {
    height: 267px;
  }
}
#header-image {
  max-height: $header-height;
  margin-left: -15px;
  margin-right: -15px;

  > img {
    $margin-top: 60px;
    max-height: $header-height - $margin-top;
    margin-top: $margin-top;
  }
}
#header-overlay-left,
#header-overlay-right {
  width: 100%;
  height: $header-height;
  position: absolute;
  top: 0;
  overflow: hidden;
  background-size: contain!important;
  @media (max-width: 992px) {
    height: 267px;
  }
}
#header-overlay-left {
  @include background(url('../../img/header_overlay_left.png') no-repeat center left);
  left: 0;
  top: 60px;
}
#header-overlay-right {
  @include background(url('../../img/header_overlay_right.png') no-repeat center right);
  right: 0;
}
#bid-ontvangt {
  display: block;
  @include background(url('../../img/bid-ontvangt.png') no-repeat center center);
  background-size: 305px 180px;
  width: 305px;
  height: 180px;
  position: absolute;
  bottom: -5px;
  right: 65px;
}

#logo {
  text-indent: -9999px;
  @include background(url('../../logo/logo.png') no-repeat center center);
  background-size: 100% 100%;
  position: absolute;
  top: 15px;
  left: 15%;
  width: 107px;
  height: 35px;
  z-index: 100;
}

form#search {
  position: absolute;
  top: 15px;
  right: 10%;
  z-index: 100;

  input {
    padding: 0 12px;
    height: 25px;
    width: 250px;
  }

  .btn-search {
    background: transparent;
    border: none;
    font-size: 18px;
    padding: 0;

    > .fa {
      vertical-align: bottom;
    }
  }
}

#main-nav {
  margin-bottom: 0;
  border: none;
  min-height: 30px;

  .navbar-header {

    .navbar-brand {
      max-height: 40px;
      padding-top: 0;
      margin-top: 5px;

      img {
        width: 82px;
        height: 40px;
      }
    }

    .navbar-toggle {
      border: solid 1px $main-color-purple;
    }

    .icon-bar {
      background-color: $main-color-purple;
    }
  }

  .navbar-nav {
    > li {
      &.active > a {
        background: $color-background;
        color: $main-color-purple;
      }

      > a {
        text-transform: uppercase;
        color: $text-dark;
        font-weight: bold;
        padding: 7px 10px;

        &:hover, &:focus, &:active {
          background: $color-background;
        }
      }

      #btn-logout {
        color: $white;
        padding: 3px 5px;

        &:hover, &:focus, &:active {
          background: $white;
          color: rgba($black, 0.9);
          font-weight: bold;
        }
      }
    }
  }

  #btn-logout {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
  }

  .dropdown-menu {
    background-color: $main-color-purple;
    padding: 5px;
    @include border-radius(0);

    > li > a {
      background: $main-color-purple;
      color: $white;
      font-weight: 400;
      padding: 3px 5px;

      &:hover,
      &:active,
      &:focus {
        color: rgba($black, 0.9);
        background-color: $white;
        font-weight: bolder;
      }
    }

    .divider {
      background-color: $main-color-light-purple;
      margin: 1px -5px;
    }
  }
}


.page-header {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: none;
  background-color: $main-color-light-purple;
  position: relative;
  padding: 5px;
  color: $white;

  a.abs-left {
    position: absolute;
    left: 10px;
    top: 5px;
    color: $white;
  }

  .title {
    line-height: 20px;
    font-size: 120%;
  }
}
