.home-wrapper {
  padding: 15px;
  background-color: $white;

  h3 {
    margin-top: 5px;
    color: $white;
  }
}

#pod {
  margin-top: 15px;

  h3 {
    margin-right: 50px;
    font-weight: bolder;

    small {
      color: $white;
      font-size: 14px;
      line-height: 12px;
    }
  }

  > div {
    background-color: $main-color-orange;
    padding: 10px;
    background: $main-color-orange url('../../homepage/pod.png') no-repeat top 10px right 5px;
    background-size: 80px 77px;
  }

  textarea {
    height: 100px;
  }
}
