li.social {
  padding: 0;
}

.social {
  height: 32px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  position: relative;
  top: 3px;

  & + li {
    padding-left: 0;
  }

  &.facebook {
    background-color: #32528F;
  }

  &.twitter {
    background-color: #2EA8DB;
  }

  a {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: $white;
    font-size: 24px;
  }
}

.fa-facebook {
  position: relative;
  font-size: 28px;
  left: 3px;
  top: 7px;
}

li.social + li {
  .btn.read-more {
    vertical-align: baseline;
  }
}
