.fa-facebook,
.fa-twitter {
    font-size: 200%;
    color: $white;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}

.fa-facebook {
    background-color: #32528F;
    position: relative;
}

.fa-twitter {
    background-color: #2EA8DB;
}
